.btn {
	display: inline-block;
	vertical-align: top;
	height: 56px;
	@include font-size(22px, 56px);
	font-weight: bold;
	padding: 0 25px;
	border: 0;
	text-transform: uppercase;
	font-family: $f-alt-family;
	@include border-radius(5px);
	@include respond-to(phones) {
		height: 40px;
	@include font-size(17px, 40px);
	}
	&.btn-pricing {
		letter-spacing: 0.25px;
		@include font-size(20px);
		font-weight: bold;
		color: #535353;
		text-transform: uppercase;
		border: 2px solid #00b274;
		padding: 13px 18px;
		@include respond-to(tablets) {
			padding: 4px 10px;
			height: auto;
			@include font-size(16px, 32px);
		}
		@include respond-to(s-desktops) {
			padding: 13px 18px;
			@include font-size(20px);
		}
	}	
	&:hover {
		text-decoration: none;
	}
	&.btn-green {
		background-color: #00b274;
		color: #fff;
		&:hover {
			background-color: #16c085;
		}
	}
	&.btn-red {
		background-color: #eb746c;
		color: #fff;
		&:hover {
			background:#f48c85;
		}
	}
	&.btn-small {
		min-width: 228px;
	}
	&.btn-middle {
		min-width: 325px;
		@include respond-to(s-phones) {
			min-width: 200px;
		}
	}
	&.btn-white {
		background: none;
		border: 4px solid #fff;
		color: #fff;
		line-height: 48px;
		padding: 0 40px;
		.trial-form & {
			height: 47px;
			@include font-size(22px);
			line-height: 37px;
		}
	}
	&.btn-blue {
		background: #5090bb;
		color: #fff;
	}
	&.btn-select {
		background-color: #5090bb;
		color: #fff;
		height: 28px;
		width: 100px;
		@include font-size(14px,28px);
		@include border-radius(3px);
		.green-tab & {
			background-color: #00b274;
		}
		.yellow-tab & {
			background-color: #fdad76;
		}
	}
	&.btn-regular {
		font-weight: normal;
	}
	&.green-border {
		border: 2px solid #00b274;
		color: #fff;
	}
	&.blue-border {
		border: 2px solid #5090bb;
		color: #fff;
	}
	&.btn-block {
		display: block;
		text-align: center;
	}
	.flow-form & {
		height: 34px;
		@include font-size(16px);
		line-height: 30px;
		@include border-radius(2px);
	}
	.support-area-splash & {
		@include respond-to(phones) {
			@include font-size(18px, 56px);
		}
		@include respond-to(tablets) {
			@include font-size(17px, 55px);
		}
		@include respond-to(s-desktops) {
			@include font-size(20px, 55px);
		}
		
	}
}
