.btn {
	border: none;
	@include border-radius(0);
	font-family: $f-font-medium;
	font-size: 11px;
	color: #444E58;
	letter-spacing: 1.5px;
	line-height: 18px;
	padding: 21px 20px 20px;
	position: relative;
	&.btn-default {
		background: #fff;
		padding: 21px 40px 20px 19px;
		&:before {
			content: '';
			position: absolute;
			@include sprite($arrow-right-btn);
			right: 20px;
			@include verticalTransform;
		}
	}
	&.btn-danger {
		background-color: #5d1f36;
		color: #fff;
		padding-right: 40px;
		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			@include verticalTransform;
			right: 20px;
			@include retina-sprite($arrow-right-white-group);
		}
	}
	&.dropdown-toggle {
		background-color: #fff;
		font-family: $f-base-font;
		font-size: 16px;
		color: #666F78;
		letter-spacing: 0px;
		line-height: 16px;
		height: 44px;
		padding: 10px 18px;
		&:before {
			display: none;
		}
	}
}
