.home-info-box {
	background-color: #fff;
	font-size: 16px;
	color: #444E58;
	line-height: 22px;
	position: relative;
	cursor: pointer;	
	margin: 0 0 10px;
	padding: 30px 50px 20px 20px;
	@include respond-to(tablets) {
		height: 265px;
		padding: 30px 50px 55px 20px;
	}
	@include respond-to(s-desktops) {
		padding: 35px 35px 55px;
		line-height: 28px;
	}
	@include respond-to(desktops) {
		padding-top: 42px;
	}
	.date {
		@include font-size(12px, 14px);
		display: block;
		margin-bottom: 15px;
		color: $c-gray;
	}
	a {
		color: $c-blue;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	h4 {
		font-family: $f-font-demi;
		font-weight: 600;
		font-size: 20px;
		letter-spacing: 0px;
		margin: 0 0 12px;
	}
	.link {		
		font-family: $f-font-medium;
		font-size: 14px;
		color: $c-gray;
		line-height: 14px;
		
		text-decoration: none;
		@include respond-to(tablets) {
			position: absolute;
			left: 35px;
			bottom: 32px;
		}		
		&:hover {
			color: darken($c-gray,25);
		}
	}
	.icon-post,
	.icon-twitter,
	.icon-twitter-light {
		position: absolute;
		top: 25px;
		right: 25px;
	}
	&:hover {
		box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.10);
		.link {
			color: #69243C;
		}
	}
	&.twitter {
		@include font-size(20px, 30px);
	}
	&.twitter-info-box {
		display: block;
		text-align: center;
		background: url('../images/layout/bg-twitter-info-box.png') no-repeat 50% 0;
		@include bg-cover;
		padding: 105px 35px 55px;
		.twitter-username {
			padding: 23px;
			display: block;
			opacity: 0.4;
			font-family: Avenir-Book;
			font-size: 16px;
			color: #FFFFFF;
			letter-spacing: 0px;
			line-height: 16px;
		}		
	}
}
.capacity-section {
	background-color: #fff;
	box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.10);
	margin: -20px auto 0;
	max-width: 480px;
	.btn-holder {
		border-top: 1px solid #eff0f1;
		.btn-default {
			padding-right: 50px;
		}
	}
	.header {
		padding: 20px 0;
		h4 {
			font-size: 18px;
			color: #444E58;
			margin: 0 0 5px;
		}
	}
	.capacity-block {
		border-top: 2px solid #b2b7bb !important;
		border-left: 2px solid #a542c4;
	}
	.capacity-block-head {
		padding: 14px 12px;
		border-bottom: 1px solid #eff0f1;
	}
	.capacity-slide {
		.capacity-slide-link {
			padding: 14px 12px;
			display: block;
			color: #444E58;
			position: relative;
			outline: none;
			&:after {
				content: '';
				position: absolute;
				@include verticalTransform;
				right: 15px;
				@include retina-sprite($panel-closed-group);
			}
			&.collapsed {
				&:after {
					@include retina-sprite($panel-opened-group);
				}
			}
			&:hover {
				text-decoration: none;
			}
		}
		.toggle-slide {
			@include font-size(16px, 18px);
			padding: 12px;
			color: #444E58;
			.label {
				color: rgba(102, 111, 120, 0.5);
				@include font-size(12px, 18px);
			}
			&>.row {
				padding-top: 12px;
				padding-bottom: 12px;
			}
		}
	}	
}
.list-capacity-select {
	@include clear-list;
	li {
		display: inline-block;
		vertical-align: top;
		@include font-size(12px);
		a {
			color: #444E58;			
			padding: 6px 8px;
			&:hover {
				background-color: #69243c;
				text-decoration: none;
				color: #fff;
			}
		}
		&.active {
			a {
				color: #fff;
				background-color: #69243c;
			}
		}
	}
}
.add-splash {
	color: #fff;
	background: #414141;
	background-position: 50% 0;
	.v-table,
	.v-cell {
		height: 280px;
	}
	h2 {
		@include font-size(36px, 42px);
		margin: 0;
	}
	&.head-historique {
		background-image: url('../images/layout/head-historique.jpg');		
	}
	&.head-equipes {
		background-image: url('../images/layout/head-equipes.png');
	}
	&.head-metiers {
		background-image: url('../images/layout/Head-metiers.png');		
	}
}
.tabs {
	@include clear-list;
	overflow: hidden;
	margin-top: -60px;
	li {
		float: left;
		margin-right: 20px;
		line-height: 19px;
		font-family: $f-font-demi;
		a {
			display: block;
			height: 60px;
			color: #fff;
			background: rgba(0,0,0,0.20);
			padding: 20px 28px;
			&:hover {
				text-decoration: none;
			}
		}
		&.active {
			a {
				background: #fff;
				color: #69243C;
			}
		}
	}
}
.list {
	@include clear-list;
	@include font-size(14px, 38px);
	&>li {
		padding: 0 0 0 20px;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			@include triangle(8px, #5b2437, right);
			top: 14px;
		}
	}
}
.list-team {
	@include clear-list;
	li {
		margin-bottom: 22px;
	}
}
.link-team {
	overflow: hidden;
	display: block;
	.avatara {
		float: left;
		width: 80px;
		height: 80px;
		overflow: hidden;
		position: relative;
		margin-right: 25px;		
		&:before {

		}
		img {
			width: 80px;
			height: 80px;
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}		
	}
	&>.holder {
		display: block;
		overflow: hidden;
		height: 80px;
		font-family: $f-font-medium;
		font-size: 14px;
		color: rgba(102,110,120,0.50);
		@include flex;
		.name {
			display: block;
			font-size: 16px;
			color: #444E58;
			font-weight: normal;
		}
	}
	&:hover {
		text-decoration: none;
		box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.10);
		.avatara {
			img {
				-webkit-filter: none;
				filter: none;
			}
		}
	}
}
.tabs-content {
	padding: 60px 0;
}
.team-vertical-slider {
	background-color: #eff0f2;
	max-width: 635px;
	position: relative;
	padding: 60px;
	@include font-size(16px, 32px);
	@include respond-to(desktops) {
		margin-top: 180px;
	}
	.slick-arrow {
		text-indent: -9999px;
		overflow: hidden;
		position: absolute;
		@include verticalTransform;
		width: 60px;
		height: 60px;
		border: 0;
		padding: 0;
		&:before {
			content: '';
			@include verticalTransform;
			position: absolute;
			left: 50%;
			margin-left: -5.5px;
		}
		&.slick-prev {
			background-color: #fff;
			right: 0;
			&:before {
				@include retina-sprite($arrow-up-group);
			}
		}
		&.slick-next {
			background-color: $c-red;
			right: -60px;
			&:before {
				@include retina-sprite($arrow-down-group);
			}
		}
	}
}
.history-box {
	background-color: #fff;
	height: 100px;
	overflow: hidden;
	color: #B2B7BB;
	.years-holder {
		float: left;
		width: 125px;
		height: 100px;
		@include font-size(14px, 22px);
		padding-left: 40px;
		font-family: $f-font-demi;
		@include flex;
	}
	.holder {
		overflow: hidden;
		height: 100px;
		padding-left: 50px;
		@include font-size(20px, 27px);
		@include flex;
		p {
			margin: 0;
		}
	}
	&.active {
		color: #444E58;
		box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.10);
		.years-holder {
			color: $c-red;
		}
	}
}