.page-footer {
	color: $c-gray;	
	line-height: 24px;
	padding: 50px 0 20px;
	@include respond-to(s-desktops) {
		padding: 123px 0 60px;
	}
	a {
		color: #666F78;
	}
	h5, .h5 {
		color: #444E58;
		position: relative;
		margin: 0 0 30px;		
		@include respond-to(tablets) {
			margin: 0 0 37px;
		}
		&:after {
			content: '';
			display: inline-block;
			width: 20px;
			height: 1px;
			background-color: #e1e1e1;
			margin-left: 12px;
			vertical-align: middle;
		}
	}
	.footer-box {
		@include respond-to(phones) {
			margin: 0 10px 45px;
		}
	}
	.foote-nav {
		@include clear-list();
		margin-bottom: 10px;
		li {
			line-height: 24px;
		}
	}
	address {
		font-style: normal;
		line-height: 2;
		@include respond-to(phones) {
			margin-bottom: 10px;
		}
	}
	.detailed-address {
		font-size: 12px;
		line-height: 20px;
	}
}