input {
  -webkit-appearance: none;
  border-radius:0;
}
#{$all-text-inputs},
.form-control {
	border: 1px solid #c7c7c7;
	background: #fff;
	display: block;
	width: 100%;
	height: 47px;
	padding: 7px 15px;
	font-size: 18px;
	font-family: $f-base-font;
	@include border-radius(4px);
	color: $c-dark-blue;
	@include placeholder {
		color: $c-dark-blue;
	}
}
textarea {
	height: 50px;
}
.radio {
	display: inline-block;
	vertical-align: top;
	margin-right: 13px;
}
.input-group {
	overflow: hidden;
	margin-bottom: 29px;
}
label {
	display: block;
	color: #155996;
	font-weight: bold;
	margin-bottom: 6px;
}
label.error {
	display: inline-block;
	padding: 5px 0 0 3px;
	color: #e14050;
	font-weight: normal;
	border-radius: 0 0 5px 5px;
	@include font-size(13px);	
}
.form-wrap {
	#{$all-text-inputs} {
		text-align: center;
	}
	.btn {
		@include font-size(20px,47px);
		height: 50px;
		.home-section-test & {
			border: 3px solid #fff;
			background: none;	
			&:hover {
				background: none;
			}
		}
		.home-section-reasons &,
		.home-section-test & {
			height: 60px;
			@include font-size(26px, 48px);
			@include respond-to(phones) {
				@include font-size(20px, 40px);
			}
			@include respond-to(s-phones) {
				padding: 0;
				@include font-size(16px, 40px);
			}
		}
	}
	.home-section-reasons & {
		#{$all-text-inputs} {
			border: 4px solid #8a8a8a;
		}
	}
}