html {
	font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
body {
  background-color: $bg-body;
  color: $c-text;
  font-family: $f-base-font;
}
a {  
  color: $c-red;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.home-finance {
  background: #f3f4f6;
  @include respond-to(phones) {
    padding: 30px 0;
  }
  @include respond-to(tablets) {
    padding: 79px 0;
  }
  .home-finance-headline {
    margin: 0 0 30px;
    @include respond-to(tablets) {
       margin: 0 0 50px;
    }
    .title {
      margin-top: 9px;
    }
  }
  .home-finance-body {
    font-size: 36px;
    color: #444E58;
    letter-spacing: 0px;
    line-height: 36px;
    .button-holder {
      padding: 20px 0 0;
    }
  }
}
.home-splash {
  position: relative;
  z-index: 1;
  background: url('../images/layout/bg-home-splash.png') no-repeat;
  @include bg-cover;
  padding: 100px 0 0;
  height: 450px; 
  @media (min-height: 500px) and (min-width: 768px) {
    padding: 100px 0 0;
    height: 450px;
  }
  @media (min-height: 600px) and (min-width: 768px) {
    height: 500px;
    padding: 120px 0 0;
  }
  @media (min-height: 700px) and (min-width: 768px) {
    padding: 160px 0 0;
    height: 600px;
  }
  @media (min-height: 800px) and (min-width: 768px) {
    padding: 190px 0 0;
    height: 680px;
  }
  @include respond-to(phones) {
    padding: 110px 0 0;
    height: 510px;
  }
  .home-splash-vertical {
    left: -108px;
    @include verticalTransform;
    transform: rotate(-90deg);
    font-size: 11px;
    color: #D2D2D2;
    letter-spacing: 4px;
    @include respond-to(phones) {
      display: none;
    }
  }
  .btn.btn-default {
    padding-right: 65px;
    padding-left: 29px;
  }
  .splash-socials {
    position: absolute;
    right: 5px;
    @include verticalTransform;
    @include clear-list;
    display: none;
    @include respond-to(tablets) {
      display: block;
    }
    @include respond-to(s-desktops) {
      right: 45px;
    }
    li {
      padding: 12px 0;
    }
  }
  .icon-vertical-splash {
    position: absolute;
    @include verticalTransform;
    left: 5px;
    display: none;
    @include respond-to(tablets) {
      display: block;
    }
    @include respond-to(s-desktops) {
      left: 45px;
    }
  }
  .home-slide-nav {
    position: relative;
    padding: 23px 40px 30px;
    width: 215px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 50%;
    margin-left: -107.5px;
    @media (min-height: 500px) and (min-width: 768px) {
      top: 5%;
    }
    @media (min-height: 600px) and (min-width: 768px) {
      top: 14%;
    }
    @include respond-to(phones) {
      top: 24px;
      width: 280px;
      margin-left: -140px;
      padding: 50px 40px 0;
    }
    .slides-num {
      position: relative;
      width: 100%;
      .icon-slide-divider {
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -15px;
      }
      .current {
        float: left;
        width: 46%;
        font-family: PlayfairDisplay-Regular;
        font-size: 21px;
        line-height: 1;
        color: #FFFFFF;
        text-align: right;
        margin: -15px 0 0;
      }
      .all {
        float: right;
        width: 46%;
        opacity: 0.3;
        font-family: PlayfairDisplay-Bold;
        font-size: 12px;
        line-height: 1;
        color: #F7F7F7;
        text-align: left;
        padding: 15px 0 0;
      }    
    }
    .slide-nav {
      position: absolute;
      top: 24px;
      text-indent: -9999px;
      overflow: hidden;
      @include respond-to(phones) {
        top: 45px;
      }
      &.slide-prev {
        left: 0;
        @include sprite($slide-prev);
      }
      &.slide-next {
        right: 0;
        @include sprite($slide-next);
      }
    }
    .slider-progress {
      position: absolute;
      width: 100px;
      bottom: 0;
      left: 50%;
      margin-left: -50px;
      height: 1px;
      background-color: #7c475b;
      @include respond-to(phones) {
        left: 0;
        margin: 0;
        right: 0;
        width: 100%;
        top: 0;
      }
      .progress {
        position: absolute;
        height: 1px;
        width: 0;
        left: 0;
        top: 0;
        background-color: #fff;
      }
    }
  }
}
.home-slider {
  position: relative;
  text-align: center;
  .slide {
    .v-table,
    .v-cell {
      height: 150px;
        @media (min-height: 500px) and (min-width: 768px) {
          height: 150px;
        }
        @media (min-height: 600px) and (min-width: 768px) {
          height: 200px;
        }
        @media (min-height: 700px) and (min-width: 768px) {
          height: 230px;
        }
        @media (min-height: 800px) and (min-width: 768px) {
          height: 250px;
        }

    }
  }
  blockquote {
    padding: 0;
    margin: 0 auto;
    max-width: 780px;
    border: 0;
    q {
      font-size: 24px;
      color: #FFFFFF;
      line-height: 52px;
      font-style: normal;
      @include respond-to(phones) {
        @include font-size(20px, 42px);
        display: block;
      }
      &:before,
      &:after {
        display: none;
      }
    }
    cite {
      font-family: AvenirNext-Medium;
      font-size: 11px;
      color: rgba(255,255,255,0.50);
      letter-spacing: 2px;
      display: inline-block;
      font-style: normal;
      padding: 0 0 0 30px;
      position: relative;      
      &:before {
        content: '';
        position: absolute;
        height: 1px;
        background-color: #fff;
        width: 12px;
        left: 6px;
        margin-top: -2px;
        @include verticalTransform;
      }
    }
  }
}
.home-table-area {
  padding: 0 0 100px;
  position: relative;
  z-index: 20;
  .table-performance-holder {
    width: 100%;
    background-color: #fff;
    float: left;
    margin: -100px 0 0;
    box-shadow: 0px 20px 60px 0px rgba(0,0,0,0.07);
    .table-action-holder {
      padding: 10px 0;
      .btn.btn-default {
        padding-right: 60px;
      }
    }
  }
}
.theme-1 { border-color: #a434c4 !important; }
.theme-2 { border-color: #359bb5 !important; }
.theme-3 { border-color: #5c5f9d !important; }
.theme-4 { border-color: #b2b7bb !important; }
.page-splash {
  background: #68243d;
  color: #fff;
  &.page-splash-company {
    background-image: url('../images/layout/bandeau.jpg');
    background-position: 50% 0;
    @include bg-cover;
  }
  .v-table,
  .v-cell {
    height: 400px;
  }
  h1 {
    font-family: $f-base-font;
    margin: 0;
    span {
      display: block;
    }
    @include respond-to(desktops) {
      @include font-size(48px, 66px);
    }    
  }
}
.inner-content {
  padding: 75px 0;
}
.history-area {
  position: relative;
  margin-top: -52px;
  .line {
    position: absolute;
    left: 125px;
    top: 50px;
    bottom: 0;
    width: 1px;
    background-color: #d3d3d5;
    .moving {
      top: 0;
      background-color: #51303b;
      height: 300px;
      position: absolute;
      width: 100%;
      &:before {
        width: 7px;
        height: 7px;
        background-color: #51303b;
        content: '';
        position: absolute;
        margin-left: -3px;
        top: -4px;
        @include border-radius(50%);
      }
    }
  }
  .history-box {
    margin-top: 40px;
    &:first-child {
      margin: 0;
    }
  }
}
