.cf:before,
.cf:after {
  content:"";
  display:table;
  }
.cf:after {
  clear:both;
}
.v-table {
  width: 100%;
  display: table;
  &>.v-cell {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
  }
}
table.table-performance {
  margin: 0;
  thead {
    th {
      border-width: 1px;
      font-family: $f-font-medium;
      font-size: 13px;
      color: rgba(102,110,120,0.50);
      line-height: 18px;      
      border-color: #efeff1;
      font-weight: normal;
      padding: 15px 5px;
      vertical-align: middle;
      @include respond-to(s-desktops) {
        padding: 32px 10px 31px;
        font-size: 14px;
      }
      &:first-child {
        padding-left: 20px;
      }
      span {
        display: block;
      }
      strong {
        color: #444E58;
        font-size: 16px;
        @include respond-to(s-desktops) {
          font-size: 18px;
        }
      }
    }
  }
  tbody {
    tr {
      &:hover {
        cursor: pointer;
        td {
          background-color: #f0f1f3;
        }
      }
      td {
        vertical-align: middle;
        border-color: #efeff1;
        color: #444E58;
        @include font-size(14px, 16px);
        padding: 10px 5px;
        @include respond-to(s-desktops) {
          @include font-size(16px, 16px);
          padding: 13px 10px;
        }
        &.cell-vertical {
          width: 45px;
          padding: 0;
          border-right: 1px solid #efeff1 !important;
          border-top: 1px solid #efeff1 !important;
          border-bottom: 1px solid #efeff1 !important;
          border-left: 2px solid #f00;
          background: #fff !important;
          &.bd-actions {
            border-left: 2px solid #a434c6;
          }
          &.bd-diversifes {
            border-left: 2px solid #319bb5;
          }
          &.bd-obligataires {
            border-left: 2px solid #5a609e;
          }
          .vertical {
            margin-left: -85px;
            text-align: center;
             position: absolute;
             padding: 0 0 0 15px;
             width: 215px;
             transform: rotate(-90deg);
             -webkit-transform: rotate(-90deg); /* Safari/Chrome */
             -moz-transform: rotate(-90deg); /* Firefox */
             -o-transform: rotate(-90deg); /* Opera */
             -ms-transform: rotate(-90deg); /* IE 9 */
          }
        }
      }
    }    
  }
}
.bootstrap-select {
  .dropdown-menu {
    font-size: 16px;
  }
  &.lang {
    width: 55px !important;
    .dropdown-toggle {
      height: 25px;
      background-color: #eff0f2;
      padding: 6px 10px;
      outline: none;
    }
    .dropdown-menu {
      left: auto;
      right: 0;
      width: 240px;
      border: 0;
      background-color: #fff;
      padding: 10px 0;
      margin: 0;
      border-radius: 0;
      &> li {
        position: relative;
        &.selected {
          & > a {
            background-color: #fff;
            &:before {
              content: '';
              position: absolute;
              @include sprite($lang-selected);
              @include verticalTransform;
              right: 25px;
            }
          } 
        }
        & > a {
        padding: 20px 10px 20px 60px;
        outline: none;
        position: relative;
        &:hover {
          background-color: #eeeff0;
        }
        .icon {
          position: absolute;
          left: 24px;
          @include verticalTransform;
        }
      }
      } 
    } 
  }
}
.push-top-40 {
  padding-top: 40px;
}
.container {
  @include respond-to(phones) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include respond-to(s-phones) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.dropdown-menu > li > a {
  font-family: $f-font-medium;
  color: #666F78;
  @include font-size(14px);
}
.v-table {
  width: 100%;
  display: table;
  .v-cell {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }
}

.row-30 {
  @include make-row(30px);
  &>div {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.row-80 {
  @include respond-to(tablets) {
    @include make-row(30px);
    &>div {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @include respond-to(s-desktops) {
    @include make-row(80px);
    &>div {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  
}