.cf:before,
.cf:after {
  content:"";
  display:table;
  }
.cf:after {
  clear:both;
}
.v-table {
  width: 100%;
  display: table;
  &>.v-cell {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
  }
}
strong {
  font-weight: normal;
  font-family: $f-font-demi;
  font-weight: 600;
}
.d-block {
  display: block;
}
.table {
  thead {
    tr {
      th {
        font-weight: normal;
        text-transform: uppercase;
        font-family: $f-font-medium;
        color: rgba(102,110,120,0.50);
        line-height: 18px;
        padding: 30px 10px;
        strong {
          font-weight: normal;
          font-size: 20px;
          color: #444E58;
          text-transform: none;
        }
        &:first-child {
          padding-left: 20px;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 20px 10px;
        font-size: 16px;
        color: #444E58;
        line-height: 16px;
        &:first-child {
          padding-left: 20px;
        }
      }
    }
  }
  &.table-performance{
    margin: 0;
    thead {
      th {
        border-width: 1px;
        font-family: $f-font-medium;
        font-size: 13px;
        color: rgba(102,110,120,0.50);
        line-height: 18px;      
        border-color: #efeff1;
        font-weight: normal;
        padding: 15px 5px;
        vertical-align: middle;
        @include respond-to(s-desktops) {
          padding: 31px 10px;
          font-size: 14px;
        }
        span {
          display: block;
        }
        strong {
          color: #444E58;
          font-size: 16px;
          @include respond-to(s-desktops) {
            font-size: 18px;
          }
        }
      }
    }
    tbody {
      tr {
        &:hover {
          cursor: pointer;
          td {
            background-color: #f0f1f3;
          }
        }
        td {
          vertical-align: middle;
          border-color: #efeff1;
          color: #444E58;
          @include font-size(14px, 16px);
          padding: 10px 5px;
          @include respond-to(s-desktops) {
            @include font-size(16px, 16px);
            padding: 13px 10px;
          }
          .btn-group.bootstrap-select {
            @include respond-to(tablets) {
              width: 190px;
            }
            @include respond-to(s-desktops) {
              width: 210px;
            }
            .filter-option {
              @include respond-to(tablets) {
                font-size: 14px;
              }
              @include respond-to(s-desktops) {
                font-size: 16px;
              }
            }
          }
          &.cell-vertical {
            width: 45px;
            padding: 0;
            border-right: 1px solid #efeff1 !important;
            border-top: 1px solid #efeff1 !important;
            border-bottom: 1px solid #efeff1 !important;
            border-left: 2px solid #f00;
            background: #fff !important;
            &.bd-actions {
              border-left: 2px solid #a434c6;
            }
            &.bd-diversifes {
              border-left: 2px solid #319bb5;
            }
            &.bd-obligataires {
              border-left: 2px solid #5a609e;
            }
            .vertical {
              margin-left: -85px;
              text-align: center;
               position: absolute;
               padding: 0 0 0 15px;
               width: 215px;
               transform: rotate(-90deg);
               -webkit-transform: rotate(-90deg); /* Safari/Chrome */
               -moz-transform: rotate(-90deg); /* Firefox */
               -o-transform: rotate(-90deg); /* Opera */
               -ms-transform: rotate(-90deg); /* IE 9 */
            }
          }
          .l-action {
            @include font-size(14px);
            padding: 6px 0 0;
            font-family: $f-font-medium;
          }
        }
        &:first-child {
          border-top: 2px solid #efeff1;
        }
        &:last-child {
          td {
            border-bottom: 1px solid #efeff1;
          }
        }
      }    
    }
  }
}
.bootstrap-select {
  .dropdown-menu {
    font-size: 16px;
  }
  &.lang {
    width: 55px !important;
    .dropdown-toggle {
      height: 25px;
      background-color: #eff0f2;
      padding: 6px 10px;
      outline: none;
    }
    .dropdown-menu {
      left: auto;
      right: 0;
      width: 240px;
      border: 0;
      background-color: #fff;
      padding: 10px 0;
      margin: 0;
      border-radius: 0;
      &> li {
        position: relative;
        &.selected {
          & > a {
            background-color: #fff;
            &:before {
              content: '';
              position: absolute;
              @include sprite($lang-selected);
              @include verticalTransform;
              right: 25px;
            }
          } 
        }
        & > a {
        padding: 20px 10px 20px 60px;
        outline: none;
        position: relative;
        &:hover {
          background-color: #eeeff0;
        }
        .icon {
          position: absolute;
          left: 24px;
          @include verticalTransform;
        }
      }
      } 
    } 
  }
  &.form-control {

    >.btn {
      height: 60px;
      border: 1px solid #ddd;
      background: #fff !important;
      box-shadow: none;
      &:hover {
        border-color: #b5bbbb;
      }
    }
    .dropdown-menu {
      li {
        a {
          font-size: 16px;
          color: #666F78;
          padding: 10px 20px;
        }
      }
    }
    &.open {
      >.btn {        
        background: #fff;
        border-color: #b5bbbb;
      }
    }
  }
}
.push-top-40 {
  padding-top: 40px;
}
.container {
  @include respond-to(phones) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include respond-to(s-phones) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.dropdown-menu > li > a {
  font-family: $f-font-medium;
  color: #666F78;
  @include font-size(14px);
}
.v-table {
  width: 100%;
  display: table;
  .v-cell {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }
}
.row-0 {
  @include make-row(0);
  &>div {
    padding-left: 0;
    padding-right: 0;
  }
}
.row-30 {
  @include make-row(30px);
  &>div {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.row-40 {
  @include make-row(40px);
  &>div {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.row-60 {
  @include respond-to(s-desktops) {
    @include make-row(60px);
    &>div {
      padding-left: 30px;
      padding-right: 30px;
    }
  }  
}
.row-80 {
  @include respond-to(tablets) {
    @include make-row(30px);
    &>div {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @include respond-to(s-desktops) {
    @include make-row(80px);
    &>div {
      padding-left: 40px;
      padding-right: 40px;
    }
  }  
}
.form-control {
  .form-group.parsley-error &,
  &.parsley-error {
    color: #D13333;
  }
}
.form-group.parsley-error {
  position: relative;
  >label {
    color: #D13333;
  }
  .error-holder {
    color: #D13333;
    position: absolute;
    right: 25px;
    bottom: 22px;
    font-size: 10px;
    letter-spacing: 1px;
  }
  .parsley-errors-list {
    @include clear-list;
    li {
      color: #D13333;
      position: absolute;
      right: 25px;
      bottom: 22px;
      font-size: 10px;
      letter-spacing: 1px;
    }
  }
}
#{$all-text-inputs-focus},
#{$all-text-inputs-hover} {
  border-color: #b5bbbb;
  box-shadow: none;
}
.move-news-top {
  @include respond-to(s-desktops) {
    margin-top: -60px;
  }  
}