.page-header {
	margin: 0;
	border: 0;
	padding: 0 0 30px;
	position: relative;
	z-index: 25;
	@include respond-to(phones) {
		padding: 15px 0;
	}
	&>.container {
		position: relative;
		@include clearfix;
		@include respond-to(1450px) {
			width: 1410px;
		}		
	}
	.logo {
		float: left;
		margin-top: 10px;
		@include respond-to(phones) {
			margin: 0;
		}
		@include respond-to(s-desktops) {
			margin-top: 28px;
		}
		@include respond-to(desktops) {
			margin-left: 20px;
		}
		a {
			display: block;
			height: 100%;
		}
	}
	.lang-select-wrap {
		margin: 0 0 18px;
	}
	.lang-select {
		float: right;
	}	
	.main-nav {
		float: left;		
		position: relative;
		font-family: $f-font-medium;
		@include respond-to(s-desktops) {
			padding-left: 40px;
		}
		@include respond-to(desktops) {
			padding-left: 135px;	
		}
		&:before {
			content: '';
			position: absolute;
			left: 0;			
			height: 1px;
			background-color: #e1e1e1;
			@include verticalTransform;			
			@include respond-to(s-desktops) {
				width: 35px;
			}
			@include respond-to(desktops) {
				width: 120px;
			}
		}		
	}
	.nav-list {
			@include clear-list;
			&>li {
				float: left;				
				&.has-drop {
					position: relative;
				}			
				&>a {
					color: rgba(121, 130, 139, 0.7);
					float: left;
					padding: 2px 9px;					
					font-size: 11px;
					letter-spacing: 1.5px;
					&:hover {
						text-decoration: none;
						color: #666F78;
					}
				}
				&.active {
					a {
						color: #69243C;
					}					
				}
			}			
		}
	.partners-nav {
		float: left;
		position: relative;
		position: relative;
		padding-left: 10px;
		@include respond-to(desktops) {
			margin-left: 25px;
			padding-left: 28px;
		}
		.drop {
			left: auto;
			right: 0;
		}
		&:before {
			content: '';
			position: absolute;
			left: 0;			
			height: 1px;
			background-color: #e1e1e1;
			@include verticalTransform();
			width: 10px;
			@include respond-to(desktops) {
				width: 20px;
			}
		}
		.link-partner {
			@include inline-block;
			padding: 0 10px;
			@include respond-to(desktops) {
				padding: 0 17px;
			}
		}
	}
	.main-nav-wrap {
		&>.cell {
			float: right;
		}
	}	
	.menu-drop {
		@include clear-list;
		width: 240px;
		padding: 10px 0;
		background-color: #fff;					
		li {
			float: none;
			display: block;
			a {
				display: block;
				float: none;
				position: relative;
				padding: 17px 45px 17px 25px;
				@include font-size(14px);
				color: #444E58;
				&:before {
					content: '';
					position: absolute;
					@include sprite($arrow-right-btn);
					right: 30px;
				}
				&:hover {
					text-decoration: none;
					background-color: #EEEFF0;
				}
			}
		}
	}
}
.drop {
	box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.10);
	position: absolute;
	left: -20px;
	top: 100%;
	display: none;
	li:hover>&,
	div:hover>&,
	nav:hover>& {
		display: block;
	}
	&.mm-listview {
		display: block;
		position: static;
		text-align: left;
		left: auto;
		box-shadow:none;
	}
}
.mega-menu {
	position: absolute;
	left: auto;
	padding: 15px 0 0;	
	background-color: #fff;
	@include respond-to(tablets) {
		right: -40px;
		width: 720px;
	}
	@include respond-to(s-desktops) {
		right: -40px;
		width: 900px;
	}
	@include respond-to(desktops) {
		width: 1000px;
		right: -90px;
	}
	@include respond-to(1450px) {
		right: 0;
		width: 1070px;
	}
	.mega-menu-cta {
		border-top: 1px solid #eff0f1;
		@include respond-to(phones) {
			border: 0;
		}
		.btn.btn-default {
			padding-right: 50px;
			@include respond-to(phones) {
				padding: 21px 40px 20px 19px;
				display: block;
			}
		}
	}
	.row {
		margin-right: 0;
		margin-left: 0;
		@media screen and (max-width : 991px),
		only screen and (max-device-width : 991px){
			@include respond-to(tablets) {
			&>.mega-menu-box:nth-child(1),
			&>.mega-menu-box:nth-child(2) {
				min-height: 150px;
			}
			&>.mega-menu-box:nth-child(3) {
				border: 0;
			}
		}
			}
	}
	.mega-menu-box {
		padding: 15px 20px 4px;
		min-height: 320px;
		border-left: 1px solid #eff0f1;
		@include respond-to(phones) {
			padding: 0;
			min-height: 1px;
			border: 0;
			margin: 0 0 20px;
			border-bottom: 1px solid #eff0f1 !important;
		}
		&.no-border {
			border: 0;
		}
		h5 {
			text-align: center;
			font-size: 11px;
			color: rgba(102,110,120,0.75);
			letter-spacing: 1px;
			margin: 0 0 20px;
		}
		.menu-drop {
			border-top: 2px solid #a434c4;
			width: auto;
			padding: 25px 0 0;		
			@include respond-to(phones) {
				padding: 0;
			}	
			li {
				a {
					@include font-size(14px);
					padding: 17px 17px 17px 20px;
					@include respond-to(tablets) {
						margin-left: -20px;
						margin-right: -20px;
					}					
					@include respond-to(phones) {
						color: #444E58;
						padding: 14px 20px 14px 0;
						&:before {
							content: '';
							position: absolute;
							content: '';
						  border: 2px solid transparent;
						  display: block;
						  width: 11px;
						  height: 11px;
						  margin: auto;
						  position: absolute;
						  top: 0;
						  bottom: 0;
						  -webkit-transform: rotate(-45deg);
						  -ms-transform: rotate(-45deg);
						  transform: rotate(-45deg);
						  border-top: none;
							border-left: none;
							right: 23px;
						  border-color:#979696;
						}
					}
					&:before {
						right: 15px;
					}
				}
			}
		}
	}
}
#toggle-menu {
	position: absolute;
	@include sprite($toggle-menu);
	text-indent: -9999px;
	overflow: hidden;
	display: none;
	right: 10px;
	outline: none;
	@include respond-to(phones) {
		display: block;
		@include verticalTransform();
	}
}
#mmenu {
	@include respond-to(phones) {
		display: none;
	}
}
.mm-listview {
	li.select-holder {
		padding: 0 20px;
		.bootstrap-select.lang {
			width: 100% !important;
			.dropdown-toggle {
				width: 100%;
				height: 40px;
				font-family: $f-font-medium;
			  color: #666F78;
			  @include font-size(14px);
			  padding: 6px 10px 6px 45px;
				.icon {
					margin-right: 10px;
					position: absolute;
					left: 16px;
					@include verticalTransform();
				}
			}
			.dropdown-menu {
				width: 100%;
				& > li > a {
					padding: 10px 10px 10px 45px;
					.icon {
						left: 16px;
					}
				}
			} 
		}
	}
}