// icons
.icon {
	display: inline-block;
	overflow:hidden;
	white-space: nowrap;
	text-indent:101%;
	vertical-align: top;
	&.logo {
		@include sprite($logo);
		@include respond-to(s-phones) {
			@include sprite($logo-sphones);
		}
	}
	&.icon-post {
		@include sprite($icon-post);
		.home-info-box:hover & {
			@include sprite($icon-post-hover);
		}
	}
	&.icon-twitter {
		@include sprite($icon-twitter);
		.home-info-box:hover & {
			@include sprite($icon-twitter-hover);
		}
	}
	&.icon-avatara {
		@include sprite($icon-avatara);
	}
	&.icon-twitter-white {
		@include sprite($icon-twitter-white);
	}
	&.icon-linkedin-white {
		@include sprite($icon-linkedin-white);
	}
	&.icon-vertical-splash {
		@include sprite($icon-vertical-splash);
	}
	&.icon-logo-white {
		@include sprite($icon-logo-white);
	}
	&.icon-twitter-light {
		@include sprite($icon-twitter-light);
	}
	&.icon-slide-divider {
		@include sprite($icon-slide-divider);
	}
	&.flag-france {
		@include sprite($flag-france);
	}
	&.flag-belgique {
		@include sprite($flag-belgique);
	}
}