/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$bg-mac-s-desk-name: 'bg-mac-s-desk';
$bg-mac-s-desk-x: 1100px;
$bg-mac-s-desk-y: 0px;
$bg-mac-s-desk-offset-x: -1100px;
$bg-mac-s-desk-offset-y: 0px;
$bg-mac-s-desk-width: 940px;
$bg-mac-s-desk-height: 341px;
$bg-mac-s-desk-total-width: 2040px;
$bg-mac-s-desk-total-height: 1858px;
$bg-mac-s-desk-image: '../images/sprite/sprite.png';
$bg-mac-s-desk: (1100px, 0px, -1100px, 0px, 940px, 341px, 2040px, 1858px, '../images/sprite/sprite.png', 'bg-mac-s-desk', );
$bg-mac-tab-name: 'bg-mac-tab';
$bg-mac-tab-x: 1100px;
$bg-mac-tab-y: 345px;
$bg-mac-tab-offset-x: -1100px;
$bg-mac-tab-offset-y: -345px;
$bg-mac-tab-width: 720px;
$bg-mac-tab-height: 262px;
$bg-mac-tab-total-width: 2040px;
$bg-mac-tab-total-height: 1858px;
$bg-mac-tab-image: '../images/sprite/sprite.png';
$bg-mac-tab: (1100px, 345px, -1100px, -345px, 720px, 262px, 2040px, 1858px, '../images/sprite/sprite.png', 'bg-mac-tab', );
$bg-mac-name: 'bg-mac';
$bg-mac-x: 0px;
$bg-mac-y: 0px;
$bg-mac-offset-x: 0px;
$bg-mac-offset-y: 0px;
$bg-mac-width: 1096px;
$bg-mac-height: 398px;
$bg-mac-total-width: 2040px;
$bg-mac-total-height: 1858px;
$bg-mac-image: '../images/sprite/sprite.png';
$bg-mac: (0px, 0px, 0px, 0px, 1096px, 398px, 2040px, 1858px, '../images/sprite/sprite.png', 'bg-mac', );
$btn-search-name: 'btn-search';
$btn-search-x: 639px;
$btn-search-y: 1122px;
$btn-search-offset-x: -639px;
$btn-search-offset-y: -1122px;
$btn-search-width: 65px;
$btn-search-height: 60px;
$btn-search-total-width: 2040px;
$btn-search-total-height: 1858px;
$btn-search-image: '../images/sprite/sprite.png';
$btn-search: (639px, 1122px, -639px, -1122px, 65px, 60px, 2040px, 1858px, '../images/sprite/sprite.png', 'btn-search', );
$btn-toggle-name: 'btn-toggle';
$btn-toggle-x: 1982px;
$btn-toggle-y: 757px;
$btn-toggle-offset-x: -1982px;
$btn-toggle-offset-y: -757px;
$btn-toggle-width: 24px;
$btn-toggle-height: 24px;
$btn-toggle-total-width: 2040px;
$btn-toggle-total-height: 1858px;
$btn-toggle-image: '../images/sprite/sprite.png';
$btn-toggle: (1982px, 757px, -1982px, -757px, 24px, 24px, 2040px, 1858px, '../images/sprite/sprite.png', 'btn-toggle', );
$bullet-option-smaller-name: 'bullet-option-smaller';
$bullet-option-smaller-x: 2010px;
$bullet-option-smaller-y: 757px;
$bullet-option-smaller-offset-x: -2010px;
$bullet-option-smaller-offset-y: -757px;
$bullet-option-smaller-width: 19px;
$bullet-option-smaller-height: 19px;
$bullet-option-smaller-total-width: 2040px;
$bullet-option-smaller-total-height: 1858px;
$bullet-option-smaller-image: '../images/sprite/sprite.png';
$bullet-option-smaller: (2010px, 757px, -2010px, -757px, 19px, 19px, 2040px, 1858px, '../images/sprite/sprite.png', 'bullet-option-smaller', );
$bullet-option-name: 'bullet-option';
$bullet-option-x: 1058px;
$bullet-option-y: 856px;
$bullet-option-offset-x: -1058px;
$bullet-option-offset-y: -856px;
$bullet-option-width: 25px;
$bullet-option-height: 25px;
$bullet-option-total-width: 2040px;
$bullet-option-total-height: 1858px;
$bullet-option-image: '../images/sprite/sprite.png';
$bullet-option: (1058px, 856px, -1058px, -856px, 25px, 25px, 2040px, 1858px, '../images/sprite/sprite.png', 'bullet-option', );
$carousel-next-xs-name: 'carousel-next-xs';
$carousel-next-xs-x: 2013px;
$carousel-next-xs-y: 611px;
$carousel-next-xs-offset-x: -2013px;
$carousel-next-xs-offset-y: -611px;
$carousel-next-xs-width: 20px;
$carousel-next-xs-height: 33px;
$carousel-next-xs-total-width: 2040px;
$carousel-next-xs-total-height: 1858px;
$carousel-next-xs-image: '../images/sprite/sprite.png';
$carousel-next-xs: (2013px, 611px, -2013px, -611px, 20px, 33px, 2040px, 1858px, '../images/sprite/sprite.png', 'carousel-next-xs', );
$carousel-next-name: 'carousel-next';
$carousel-next-x: 1064px;
$carousel-next-y: 402px;
$carousel-next-offset-x: -1064px;
$carousel-next-offset-y: -402px;
$carousel-next-width: 30px;
$carousel-next-height: 50px;
$carousel-next-total-width: 2040px;
$carousel-next-total-height: 1858px;
$carousel-next-image: '../images/sprite/sprite.png';
$carousel-next: (1064px, 402px, -1064px, -402px, 30px, 50px, 2040px, 1858px, '../images/sprite/sprite.png', 'carousel-next', );
$carousel-prev-small-name: 'carousel-prev-small';
$carousel-prev-small-x: 880px;
$carousel-prev-small-y: 999px;
$carousel-prev-small-offset-x: -880px;
$carousel-prev-small-offset-y: -999px;
$carousel-prev-small-width: 40px;
$carousel-prev-small-height: 40px;
$carousel-prev-small-total-width: 2040px;
$carousel-prev-small-total-height: 1858px;
$carousel-prev-small-image: '../images/sprite/sprite.png';
$carousel-prev-small: (880px, 999px, -880px, -999px, 40px, 40px, 2040px, 1858px, '../images/sprite/sprite.png', 'carousel-prev-small', );
$carousel-prev-xs-name: 'carousel-prev-xs';
$carousel-prev-xs-x: 2013px;
$carousel-prev-xs-y: 684px;
$carousel-prev-xs-offset-x: -2013px;
$carousel-prev-xs-offset-y: -684px;
$carousel-prev-xs-width: 20px;
$carousel-prev-xs-height: 33px;
$carousel-prev-xs-total-width: 2040px;
$carousel-prev-xs-total-height: 1858px;
$carousel-prev-xs-image: '../images/sprite/sprite.png';
$carousel-prev-xs: (2013px, 684px, -2013px, -684px, 20px, 33px, 2040px, 1858px, '../images/sprite/sprite.png', 'carousel-prev-xs', );
$carousel-prev-name: 'carousel-prev';
$carousel-prev-x: 558px;
$carousel-prev-y: 1188px;
$carousel-prev-offset-x: -558px;
$carousel-prev-offset-y: -1188px;
$carousel-prev-width: 30px;
$carousel-prev-height: 50px;
$carousel-prev-total-width: 2040px;
$carousel-prev-total-height: 1858px;
$carousel-prev-image: '../images/sprite/sprite.png';
$carousel-prev: (558px, 1188px, -558px, -1188px, 30px, 50px, 2040px, 1858px, '../images/sprite/sprite.png', 'carousel-prev', );
$facebook-xs-name: 'facebook-xs';
$facebook-xs-x: 1107px;
$facebook-xs-y: 915px;
$facebook-xs-offset-x: -1107px;
$facebook-xs-offset-y: -915px;
$facebook-xs-width: 25px;
$facebook-xs-height: 25px;
$facebook-xs-total-width: 2040px;
$facebook-xs-total-height: 1858px;
$facebook-xs-image: '../images/sprite/sprite.png';
$facebook-xs: (1107px, 915px, -1107px, -915px, 25px, 25px, 2040px, 1858px, '../images/sprite/sprite.png', 'facebook-xs', );
$facebook-name: 'facebook';
$facebook-x: 924px;
$facebook-y: 999px;
$facebook-offset-x: -924px;
$facebook-offset-y: -999px;
$facebook-width: 38px;
$facebook-height: 38px;
$facebook-total-width: 2040px;
$facebook-total-height: 1858px;
$facebook-image: '../images/sprite/sprite.png';
$facebook: (924px, 999px, -924px, -999px, 38px, 38px, 2040px, 1858px, '../images/sprite/sprite.png', 'facebook', );
$fancy-close-name: 'fancy-close';
$fancy-close-x: 787px;
$fancy-close-y: 999px;
$fancy-close-offset-x: -787px;
$fancy-close-offset-y: -999px;
$fancy-close-width: 43px;
$fancy-close-height: 43px;
$fancy-close-total-width: 2040px;
$fancy-close-total-height: 1858px;
$fancy-close-image: '../images/sprite/sprite.png';
$fancy-close: (787px, 999px, -787px, -999px, 43px, 43px, 2040px, 1858px, '../images/sprite/sprite.png', 'fancy-close', );
$google-play-name: 'google-play';
$google-play-x: 788px;
$google-play-y: 915px;
$google-play-offset-x: -788px;
$google-play-offset-y: -915px;
$google-play-width: 123px;
$google-play-height: 43px;
$google-play-total-width: 2040px;
$google-play-total-height: 1858px;
$google-play-image: '../images/sprite/sprite.png';
$google-play: (788px, 915px, -788px, -915px, 123px, 43px, 2040px, 1858px, '../images/sprite/sprite.png', 'google-play', );
$google-xs-name: 'google-xs';
$google-xs-x: 1078px;
$google-xs-y: 915px;
$google-xs-offset-x: -1078px;
$google-xs-offset-y: -915px;
$google-xs-width: 25px;
$google-xs-height: 25px;
$google-xs-total-width: 2040px;
$google-xs-total-height: 1858px;
$google-xs-image: '../images/sprite/sprite.png';
$google-xs: (1078px, 915px, -1078px, -915px, 25px, 25px, 2040px, 1858px, '../images/sprite/sprite.png', 'google-xs', );
$google-name: 'google';
$google-x: 1008px;
$google-y: 999px;
$google-offset-x: -1008px;
$google-offset-y: -999px;
$google-width: 38px;
$google-height: 38px;
$google-total-width: 2040px;
$google-total-height: 1858px;
$google-image: '../images/sprite/sprite.png';
$google: (1008px, 999px, -1008px, -999px, 38px, 38px, 2040px, 1858px, '../images/sprite/sprite.png', 'google', );
$icon-1-name: 'icon-1';
$icon-1-x: 736px;
$icon-1-y: 520px;
$icon-1-offset-x: -736px;
$icon-1-offset-y: -520px;
$icon-1-width: 101px;
$icon-1-height: 101px;
$icon-1-total-width: 2040px;
$icon-1-total-height: 1858px;
$icon-1-image: '../images/sprite/sprite.png';
$icon-1: (736px, 520px, -736px, -520px, 101px, 101px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-1', );
$icon-2-name: 'icon-2';
$icon-2-x: 854px;
$icon-2-y: 402px;
$icon-2-offset-x: -854px;
$icon-2-offset-y: -402px;
$icon-2-width: 101px;
$icon-2-height: 101px;
$icon-2-total-width: 2040px;
$icon-2-total-height: 1858px;
$icon-2-image: '../images/sprite/sprite.png';
$icon-2: (854px, 402px, -854px, -402px, 101px, 101px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-2', );
$icon-3-name: 'icon-3';
$icon-3-x: 959px;
$icon-3-y: 402px;
$icon-3-offset-x: -959px;
$icon-3-offset-y: -402px;
$icon-3-width: 101px;
$icon-3-height: 101px;
$icon-3-total-width: 2040px;
$icon-3-total-height: 1858px;
$icon-3-image: '../images/sprite/sprite.png';
$icon-3: (959px, 402px, -959px, -402px, 101px, 101px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-3', );
$icon-app-store-name: 'icon-app-store';
$icon-app-store-x: 641px;
$icon-app-store-y: 915px;
$icon-app-store-offset-x: -641px;
$icon-app-store-offset-y: -915px;
$icon-app-store-width: 143px;
$icon-app-store-height: 43px;
$icon-app-store-total-width: 2040px;
$icon-app-store-total-height: 1858px;
$icon-app-store-image: '../images/sprite/sprite.png';
$icon-app-store: (641px, 915px, -641px, -915px, 143px, 43px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-app-store', );
$icon-bamboo-hover-name: 'icon-bamboo-hover';
$icon-bamboo-hover-x: 1808px;
$icon-bamboo-hover-y: 757px;
$icon-bamboo-hover-offset-x: -1808px;
$icon-bamboo-hover-offset-y: -757px;
$icon-bamboo-hover-width: 170px;
$icon-bamboo-hover-height: 24px;
$icon-bamboo-hover-total-width: 2040px;
$icon-bamboo-hover-total-height: 1858px;
$icon-bamboo-hover-image: '../images/sprite/sprite.png';
$icon-bamboo-hover: (1808px, 757px, -1808px, -757px, 170px, 24px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-bamboo-hover', );
$icon-bamboo-name: 'icon-bamboo';
$icon-bamboo-x: 736px;
$icon-bamboo-y: 625px;
$icon-bamboo-offset-x: -736px;
$icon-bamboo-offset-y: -625px;
$icon-bamboo-width: 236px;
$icon-bamboo-height: 34px;
$icon-bamboo-total-width: 2040px;
$icon-bamboo-total-height: 1858px;
$icon-bamboo-image: '../images/sprite/sprite.png';
$icon-bamboo: (736px, 625px, -736px, -625px, 236px, 34px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-bamboo', );
$icon-check-blue-name: 'icon-check-blue';
$icon-check-blue-x: 2013px;
$icon-check-blue-y: 721px;
$icon-check-blue-offset-x: -2013px;
$icon-check-blue-offset-y: -721px;
$icon-check-blue-width: 25px;
$icon-check-blue-height: 25px;
$icon-check-blue-total-width: 2040px;
$icon-check-blue-total-height: 1858px;
$icon-check-blue-image: '../images/sprite/sprite.png';
$icon-check-blue: (2013px, 721px, -2013px, -721px, 25px, 25px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-check-blue', );
$icon-check-green-name: 'icon-check-green';
$icon-check-green-x: 1064px;
$icon-check-green-y: 456px;
$icon-check-green-offset-x: -1064px;
$icon-check-green-offset-y: -456px;
$icon-check-green-width: 25px;
$icon-check-green-height: 25px;
$icon-check-green-total-width: 2040px;
$icon-check-green-total-height: 1858px;
$icon-check-green-image: '../images/sprite/sprite.png';
$icon-check-green: (1064px, 456px, -1064px, -456px, 25px, 25px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-check-green', );
$icon-check-yellow-name: 'icon-check-yellow';
$icon-check-yellow-x: 1136px;
$icon-check-yellow-y: 915px;
$icon-check-yellow-offset-x: -1136px;
$icon-check-yellow-offset-y: -915px;
$icon-check-yellow-width: 25px;
$icon-check-yellow-height: 25px;
$icon-check-yellow-total-width: 2040px;
$icon-check-yellow-total-height: 1858px;
$icon-check-yellow-image: '../images/sprite/sprite.png';
$icon-check-yellow: (1136px, 915px, -1136px, -915px, 25px, 25px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-check-yellow', );
$icon-comment-name: 'icon-comment';
$icon-comment-x: 706px;
$icon-comment-y: 1048px;
$icon-comment-offset-x: -706px;
$icon-comment-offset-y: -1048px;
$icon-comment-width: 86px;
$icon-comment-height: 56px;
$icon-comment-total-width: 2040px;
$icon-comment-total-height: 1858px;
$icon-comment-image: '../images/sprite/sprite.png';
$icon-comment: (706px, 1048px, -706px, -1048px, 86px, 56px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-comment', );
$icon-devices-s-desk-name: 'icon-devices-s-desk';
$icon-devices-s-desk-x: 1100px;
$icon-devices-s-desk-y: 611px;
$icon-devices-s-desk-offset-x: -1100px;
$icon-devices-s-desk-offset-y: -611px;
$icon-devices-s-desk-width: 400px;
$icon-devices-s-desk-height: 238px;
$icon-devices-s-desk-total-width: 2040px;
$icon-devices-s-desk-total-height: 1858px;
$icon-devices-s-desk-image: '../images/sprite/sprite.png';
$icon-devices-s-desk: (1100px, 611px, -1100px, -611px, 400px, 238px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-devices-s-desk', );
$icon-devices-s-name: 'icon-devices-s';
$icon-devices-s-x: 1504px;
$icon-devices-s-y: 611px;
$icon-devices-s-offset-x: -1504px;
$icon-devices-s-offset-y: -611px;
$icon-devices-s-width: 300px;
$icon-devices-s-height: 178px;
$icon-devices-s-total-width: 2040px;
$icon-devices-s-total-height: 1858px;
$icon-devices-s-image: '../images/sprite/sprite.png';
$icon-devices-s: (1504px, 611px, -1504px, -611px, 300px, 178px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-devices-s', );
$icon-devices-name: 'icon-devices';
$icon-devices-x: 0px;
$icon-devices-y: 915px;
$icon-devices-offset-x: 0px;
$icon-devices-offset-y: -915px;
$icon-devices-width: 554px;
$icon-devices-height: 329px;
$icon-devices-total-width: 2040px;
$icon-devices-total-height: 1858px;
$icon-devices-image: '../images/sprite/sprite.png';
$icon-devices: (0px, 915px, 0px, -915px, 554px, 329px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-devices', );
$icon-education-xs-name: 'icon-education-xs';
$icon-education-xs-x: 1041px;
$icon-education-xs-y: 574px;
$icon-education-xs-offset-x: -1041px;
$icon-education-xs-offset-y: -574px;
$icon-education-xs-width: 54px;
$icon-education-xs-height: 35px;
$icon-education-xs-total-width: 2040px;
$icon-education-xs-total-height: 1858px;
$icon-education-xs-image: '../images/sprite/sprite.png';
$icon-education-xs: (1041px, 574px, -1041px, -574px, 54px, 35px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-education-xs', );
$icon-education-name: 'icon-education';
$icon-education-x: 1922px;
$icon-education-y: 853px;
$icon-education-offset-x: -1922px;
$icon-education-offset-y: -853px;
$icon-education-width: 62px;
$icon-education-height: 40px;
$icon-education-total-width: 2040px;
$icon-education-total-height: 1858px;
$icon-education-image: '../images/sprite/sprite.png';
$icon-education: (1922px, 853px, -1922px, -853px, 62px, 40px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-education', );
$icon-epson-hover-name: 'icon-epson-hover';
$icon-epson-hover-x: 915px;
$icon-epson-hover-y: 915px;
$icon-epson-hover-offset-x: -915px;
$icon-epson-hover-offset-y: -915px;
$icon-epson-hover-width: 130px;
$icon-epson-hover-height: 31px;
$icon-epson-hover-total-width: 2040px;
$icon-epson-hover-total-height: 1858px;
$icon-epson-hover-image: '../images/sprite/sprite.png';
$icon-epson-hover: (915px, 915px, -915px, -915px, 130px, 31px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-epson-hover', );
$icon-epson-name: 'icon-epson';
$icon-epson-x: 1721px;
$icon-epson-y: 853px;
$icon-epson-offset-x: -1721px;
$icon-epson-offset-y: -853px;
$icon-epson-width: 197px;
$icon-epson-height: 47px;
$icon-epson-total-width: 2040px;
$icon-epson-total-height: 1858px;
$icon-epson-image: '../images/sprite/sprite.png';
$icon-epson: (1721px, 853px, -1721px, -853px, 197px, 47px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-epson', );
$icon-fixed-name: 'icon-fixed';
$icon-fixed-x: 672px;
$icon-fixed-y: 402px;
$icon-fixed-offset-x: -672px;
$icon-fixed-offset-y: -402px;
$icon-fixed-width: 60px;
$icon-fixed-height: 275px;
$icon-fixed-total-width: 2040px;
$icon-fixed-total-height: 1858px;
$icon-fixed-image: '../images/sprite/sprite.png';
$icon-fixed: (672px, 402px, -672px, -402px, 60px, 275px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-fixed', );
$icon-government-xs-name: 'icon-government-xs';
$icon-government-xs-x: 1058px;
$icon-government-xs-y: 681px;
$icon-government-xs-offset-x: -1058px;
$icon-government-xs-offset-y: -681px;
$icon-government-xs-width: 37px;
$icon-government-xs-height: 41px;
$icon-government-xs-total-width: 2040px;
$icon-government-xs-total-height: 1858px;
$icon-government-xs-image: '../images/sprite/sprite.png';
$icon-government-xs: (1058px, 681px, -1058px, -681px, 37px, 41px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-government-xs', );
$icon-government-name: 'icon-government';
$icon-government-x: 834px;
$icon-government-y: 1122px;
$icon-government-offset-x: -834px;
$icon-government-offset-y: -1122px;
$icon-government-width: 44px;
$icon-government-height: 49px;
$icon-government-total-width: 2040px;
$icon-government-total-height: 1858px;
$icon-government-image: '../images/sprite/sprite.png';
$icon-government: (834px, 1122px, -834px, -1122px, 44px, 49px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-government', );
$icon-gusto-hover-name: 'icon-gusto-hover';
$icon-gusto-hover-x: 672px;
$icon-gusto-hover-y: 752px;
$icon-gusto-hover-offset-x: -672px;
$icon-gusto-hover-offset-y: -752px;
$icon-gusto-hover-width: 170px;
$icon-gusto-hover-height: 45px;
$icon-gusto-hover-total-width: 2040px;
$icon-gusto-hover-total-height: 1858px;
$icon-gusto-hover-image: '../images/sprite/sprite.png';
$icon-gusto-hover: (672px, 752px, -672px, -752px, 170px, 45px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-gusto-hover', );
$icon-gusto-name: 'icon-gusto';
$icon-gusto-x: 1100px;
$icon-gusto-y: 853px;
$icon-gusto-offset-x: -1100px;
$icon-gusto-offset-y: -853px;
$icon-gusto-width: 215px;
$icon-gusto-height: 57px;
$icon-gusto-total-width: 2040px;
$icon-gusto-total-height: 1858px;
$icon-gusto-image: '../images/sprite/sprite.png';
$icon-gusto: (1100px, 853px, -1100px, -853px, 215px, 57px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-gusto', );
$icon-healthcare-xs-name: 'icon-healthcare-xs';
$icon-healthcare-xs-x: 1011px;
$icon-healthcare-xs-y: 856px;
$icon-healthcare-xs-offset-x: -1011px;
$icon-healthcare-xs-offset-y: -856px;
$icon-healthcare-xs-width: 43px;
$icon-healthcare-xs-height: 37px;
$icon-healthcare-xs-total-width: 2040px;
$icon-healthcare-xs-total-height: 1858px;
$icon-healthcare-xs-image: '../images/sprite/sprite.png';
$icon-healthcare-xs: (1011px, 856px, -1011px, -856px, 43px, 37px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-healthcare-xs', );
$icon-healthcare-name: 'icon-healthcare';
$icon-healthcare-x: 1020px;
$icon-healthcare-y: 752px;
$icon-healthcare-offset-x: -1020px;
$icon-healthcare-offset-y: -752px;
$icon-healthcare-width: 51px;
$icon-healthcare-height: 44px;
$icon-healthcare-total-width: 2040px;
$icon-healthcare-total-height: 1858px;
$icon-healthcare-image: '../images/sprite/sprite.png';
$icon-healthcare: (1020px, 752px, -1020px, -752px, 51px, 44px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-healthcare', );
$icon-heart-name: 'icon-heart';
$icon-heart-x: 850px;
$icon-heart-y: 1048px;
$icon-heart-offset-x: -850px;
$icon-heart-offset-y: -1048px;
$icon-heart-width: 54px;
$icon-heart-height: 46px;
$icon-heart-total-width: 2040px;
$icon-heart-total-height: 1858px;
$icon-heart-image: '../images/sprite/sprite.png';
$icon-heart: (850px, 1048px, -850px, -1048px, 54px, 46px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-heart', );
$icon-hospitality-xs-name: 'icon-hospitality-xs';
$icon-hospitality-xs-x: 1988px;
$icon-hospitality-xs-y: 853px;
$icon-hospitality-xs-offset-x: -1988px;
$icon-hospitality-xs-offset-y: -853px;
$icon-hospitality-xs-width: 47px;
$icon-hospitality-xs-height: 36px;
$icon-hospitality-xs-total-width: 2040px;
$icon-hospitality-xs-total-height: 1858px;
$icon-hospitality-xs-image: '../images/sprite/sprite.png';
$icon-hospitality-xs: (1988px, 853px, -1988px, -853px, 47px, 36px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-hospitality-xs', );
$icon-hospitality-name: 'icon-hospitality';
$icon-hospitality-x: 998px;
$icon-hospitality-y: 681px;
$icon-hospitality-offset-x: -998px;
$icon-hospitality-offset-y: -681px;
$icon-hospitality-width: 56px;
$icon-hospitality-height: 43px;
$icon-hospitality-total-width: 2040px;
$icon-hospitality-total-height: 1858px;
$icon-hospitality-image: '../images/sprite/sprite.png';
$icon-hospitality: (998px, 681px, -998px, -681px, 56px, 43px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-hospitality', );
$icon-kounta-hover-name: 'icon-kounta-hover';
$icon-kounta-hover-x: 672px;
$icon-kounta-hover-y: 856px;
$icon-kounta-hover-offset-x: -672px;
$icon-kounta-hover-offset-y: -856px;
$icon-kounta-hover-width: 165px;
$icon-kounta-hover-height: 41px;
$icon-kounta-hover-total-width: 2040px;
$icon-kounta-hover-total-height: 1858px;
$icon-kounta-hover-image: '../images/sprite/sprite.png';
$icon-kounta-hover: (672px, 856px, -672px, -856px, 165px, 41px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-kounta-hover', );
$icon-kounta-name: 'icon-kounta';
$icon-kounta-x: 1522px;
$icon-kounta-y: 853px;
$icon-kounta-offset-x: -1522px;
$icon-kounta-offset-y: -853px;
$icon-kounta-width: 195px;
$icon-kounta-height: 49px;
$icon-kounta-total-width: 2040px;
$icon-kounta-total-height: 1858px;
$icon-kounta-image: '../images/sprite/sprite.png';
$icon-kounta: (1522px, 853px, -1522px, -853px, 195px, 49px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-kounta', );
$icon-lightspeed-hover-name: 'icon-lightspeed-hover';
$icon-lightspeed-hover-x: 846px;
$icon-lightspeed-hover-y: 752px;
$icon-lightspeed-hover-offset-x: -846px;
$icon-lightspeed-hover-offset-y: -752px;
$icon-lightspeed-hover-width: 170px;
$icon-lightspeed-hover-height: 44px;
$icon-lightspeed-hover-total-width: 2040px;
$icon-lightspeed-hover-total-height: 1858px;
$icon-lightspeed-hover-image: '../images/sprite/sprite.png';
$icon-lightspeed-hover: (846px, 752px, -846px, -752px, 170px, 44px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-lightspeed-hover', );
$icon-lightspeed-name: 'icon-lightspeed';
$icon-lightspeed-x: 1319px;
$icon-lightspeed-y: 853px;
$icon-lightspeed-offset-x: -1319px;
$icon-lightspeed-offset-y: -853px;
$icon-lightspeed-width: 199px;
$icon-lightspeed-height: 51px;
$icon-lightspeed-total-width: 2040px;
$icon-lightspeed-total-height: 1858px;
$icon-lightspeed-image: '../images/sprite/sprite.png';
$icon-lightspeed: (1319px, 853px, -1319px, -853px, 199px, 51px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-lightspeed', );
$icon-myob-colored-name: 'icon-myob-colored';
$icon-myob-colored-x: 558px;
$icon-myob-colored-y: 999px;
$icon-myob-colored-offset-x: -558px;
$icon-myob-colored-offset-y: -999px;
$icon-myob-colored-width: 131px;
$icon-myob-colored-height: 45px;
$icon-myob-colored-total-width: 2040px;
$icon-myob-colored-total-height: 1858px;
$icon-myob-colored-image: '../images/sprite/sprite.png';
$icon-myob-colored: (558px, 999px, -558px, -999px, 131px, 45px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-myob-colored', );
$icon-myob-name: 'icon-myob';
$icon-myob-x: 1808px;
$icon-myob-y: 684px;
$icon-myob-offset-x: -1808px;
$icon-myob-offset-y: -684px;
$icon-myob-width: 201px;
$icon-myob-height: 69px;
$icon-myob-total-width: 2040px;
$icon-myob-total-height: 1858px;
$icon-myob-image: '../images/sprite/sprite.png';
$icon-myob: (1808px, 684px, -1808px, -684px, 201px, 69px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-myob', );
$icon-phone-xs-name: 'icon-phone-xs';
$icon-phone-xs-x: 2009px;
$icon-phone-xs-y: 561px;
$icon-phone-xs-offset-x: -2009px;
$icon-phone-xs-offset-y: -561px;
$icon-phone-xs-width: 30px;
$icon-phone-xs-height: 30px;
$icon-phone-xs-total-width: 2040px;
$icon-phone-xs-total-height: 1858px;
$icon-phone-xs-image: '../images/sprite/sprite.png';
$icon-phone-xs: (2009px, 561px, -2009px, -561px, 30px, 30px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-phone-xs', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 834px;
$icon-phone-y: 999px;
$icon-phone-offset-x: -834px;
$icon-phone-offset-y: -999px;
$icon-phone-width: 42px;
$icon-phone-height: 42px;
$icon-phone-total-width: 2040px;
$icon-phone-total-height: 1858px;
$icon-phone-image: '../images/sprite/sprite.png';
$icon-phone: (834px, 999px, -834px, -999px, 42px, 42px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-phone', );
$icon-pie-name: 'icon-pie';
$icon-pie-x: 297px;
$icon-pie-y: 1248px;
$icon-pie-offset-x: -297px;
$icon-pie-offset-y: -1248px;
$icon-pie-width: 66px;
$icon-pie-height: 66px;
$icon-pie-total-width: 2040px;
$icon-pie-total-height: 1858px;
$icon-pie-image: '../images/sprite/sprite.png';
$icon-pie: (297px, 1248px, -297px, -1248px, 66px, 66px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-pie', );
$icon-plus-hover-name: 'icon-plus-hover';
$icon-plus-hover-x: 771px;
$icon-plus-hover-y: 1122px;
$icon-plus-hover-offset-x: -771px;
$icon-plus-hover-offset-y: -1122px;
$icon-plus-hover-width: 59px;
$icon-plus-hover-height: 59px;
$icon-plus-hover-total-width: 2040px;
$icon-plus-hover-total-height: 1858px;
$icon-plus-hover-image: '../images/sprite/sprite.png';
$icon-plus-hover: (771px, 1122px, -771px, -1122px, 59px, 59px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-plus-hover', );
$icon-plus-ipad-hover-name: 'icon-plus-ipad-hover';
$icon-plus-ipad-hover-x: 1041px;
$icon-plus-ipad-hover-y: 520px;
$icon-plus-ipad-hover-offset-x: -1041px;
$icon-plus-ipad-hover-offset-y: -520px;
$icon-plus-ipad-hover-width: 51px;
$icon-plus-ipad-hover-height: 50px;
$icon-plus-ipad-hover-total-width: 2040px;
$icon-plus-ipad-hover-total-height: 1858px;
$icon-plus-ipad-hover-image: '../images/sprite/sprite.png';
$icon-plus-ipad-hover: (1041px, 520px, -1041px, -520px, 51px, 50px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-plus-ipad-hover', );
$icon-plus-ipad-name: 'icon-plus-ipad';
$icon-plus-ipad-x: 1969px;
$icon-plus-ipad-y: 793px;
$icon-plus-ipad-offset-x: -1969px;
$icon-plus-ipad-offset-y: -793px;
$icon-plus-ipad-width: 51px;
$icon-plus-ipad-height: 50px;
$icon-plus-ipad-total-width: 2040px;
$icon-plus-ipad-total-height: 1858px;
$icon-plus-ipad-image: '../images/sprite/sprite.png';
$icon-plus-ipad: (1969px, 793px, -1969px, -793px, 51px, 50px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-plus-ipad', );
$icon-plus-name: 'icon-plus';
$icon-plus-x: 708px;
$icon-plus-y: 1122px;
$icon-plus-offset-x: -708px;
$icon-plus-offset-y: -1122px;
$icon-plus-width: 59px;
$icon-plus-height: 59px;
$icon-plus-total-width: 2040px;
$icon-plus-total-height: 1858px;
$icon-plus-image: '../images/sprite/sprite.png';
$icon-plus: (708px, 1122px, -708px, -1122px, 59px, 59px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-plus', );
$icon-pricing-alert-name: 'icon-pricing-alert';
$icon-pricing-alert-x: 1957px;
$icon-pricing-alert-y: 345px;
$icon-pricing-alert-offset-x: -1957px;
$icon-pricing-alert-offset-y: -345px;
$icon-pricing-alert-width: 80px;
$icon-pricing-alert-height: 80px;
$icon-pricing-alert-total-width: 2040px;
$icon-pricing-alert-total-height: 1858px;
$icon-pricing-alert-image: '../images/sprite/sprite.png';
$icon-pricing-alert: (1957px, 345px, -1957px, -345px, 80px, 80px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-pricing-alert', );
$icon-pricing-call-name: 'icon-pricing-call';
$icon-pricing-call-x: 1947px;
$icon-pricing-call-y: 478px;
$icon-pricing-call-offset-x: -1947px;
$icon-pricing-call-offset-y: -478px;
$icon-pricing-call-width: 80px;
$icon-pricing-call-height: 79px;
$icon-pricing-call-total-width: 2040px;
$icon-pricing-call-total-height: 1858px;
$icon-pricing-call-image: '../images/sprite/sprite.png';
$icon-pricing-call: (1947px, 478px, -1947px, -478px, 80px, 79px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-pricing-call', );
$icon-pricing-sms-name: 'icon-pricing-sms';
$icon-pricing-sms-x: 558px;
$icon-pricing-sms-y: 915px;
$icon-pricing-sms-offset-x: -558px;
$icon-pricing-sms-offset-y: -915px;
$icon-pricing-sms-width: 79px;
$icon-pricing-sms-height: 80px;
$icon-pricing-sms-total-width: 2040px;
$icon-pricing-sms-total-height: 1858px;
$icon-pricing-sms-image: '../images/sprite/sprite.png';
$icon-pricing-sms: (558px, 915px, -558px, -915px, 79px, 80px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-pricing-sms', );
$icon-puzzle-name: 'icon-puzzle';
$icon-puzzle-x: 505px;
$icon-puzzle-y: 1248px;
$icon-puzzle-offset-x: -505px;
$icon-puzzle-offset-y: -1248px;
$icon-puzzle-width: 60px;
$icon-puzzle-height: 61px;
$icon-puzzle-total-width: 2040px;
$icon-puzzle-total-height: 1858px;
$icon-puzzle-image: '../images/sprite/sprite.png';
$icon-puzzle: (505px, 1248px, -505px, -1248px, 60px, 61px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-puzzle', );
$icon-quickbooks-hover-name: 'icon-quickbooks-hover';
$icon-quickbooks-hover-x: 841px;
$icon-quickbooks-hover-y: 856px;
$icon-quickbooks-hover-offset-x: -841px;
$icon-quickbooks-hover-offset-y: -856px;
$icon-quickbooks-hover-width: 166px;
$icon-quickbooks-hover-height: 38px;
$icon-quickbooks-hover-total-width: 2040px;
$icon-quickbooks-hover-total-height: 1858px;
$icon-quickbooks-hover-image: '../images/sprite/sprite.png';
$icon-quickbooks-hover: (841px, 856px, -841px, -856px, 166px, 38px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-quickbooks-hover', );
$icon-quickbooks-name: 'icon-quickbooks';
$icon-quickbooks-x: 1736px;
$icon-quickbooks-y: 793px;
$icon-quickbooks-offset-x: -1736px;
$icon-quickbooks-offset-y: -793px;
$icon-quickbooks-width: 229px;
$icon-quickbooks-height: 51px;
$icon-quickbooks-total-width: 2040px;
$icon-quickbooks-total-height: 1858px;
$icon-quickbooks-image: '../images/sprite/sprite.png';
$icon-quickbooks: (1736px, 793px, -1736px, -793px, 229px, 51px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-quickbooks', );
$icon-restaurant-xs-name: 'icon-restaurant-xs';
$icon-restaurant-xs-x: 1947px;
$icon-restaurant-xs-y: 561px;
$icon-restaurant-xs-offset-x: -1947px;
$icon-restaurant-xs-offset-y: -561px;
$icon-restaurant-xs-width: 58px;
$icon-restaurant-xs-height: 36px;
$icon-restaurant-xs-total-width: 2040px;
$icon-restaurant-xs-total-height: 1858px;
$icon-restaurant-xs-image: '../images/sprite/sprite.png';
$icon-restaurant-xs: (1947px, 561px, -1947px, -561px, 58px, 36px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-restaurant-xs', );
$icon-restaurant-name: 'icon-restaurant';
$icon-restaurant-x: 1957px;
$icon-restaurant-y: 429px;
$icon-restaurant-offset-x: -1957px;
$icon-restaurant-offset-y: -429px;
$icon-restaurant-width: 69px;
$icon-restaurant-height: 43px;
$icon-restaurant-total-width: 2040px;
$icon-restaurant-total-height: 1858px;
$icon-restaurant-image: '../images/sprite/sprite.png';
$icon-restaurant: (1957px, 429px, -1957px, -429px, 69px, 43px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-restaurant', );
$icon-retail-xs-name: 'icon-retail-xs';
$icon-retail-xs-x: 1092px;
$icon-retail-xs-y: 999px;
$icon-retail-xs-offset-x: -1092px;
$icon-retail-xs-offset-y: -999px;
$icon-retail-xs-width: 36px;
$icon-retail-xs-height: 38px;
$icon-retail-xs-total-width: 2040px;
$icon-retail-xs-total-height: 1858px;
$icon-retail-xs-image: '../images/sprite/sprite.png';
$icon-retail-xs: (1092px, 999px, -1092px, -999px, 36px, 38px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-retail-xs', );
$icon-retail-name: 'icon-retail';
$icon-retail-x: 693px;
$icon-retail-y: 999px;
$icon-retail-offset-x: -693px;
$icon-retail-offset-y: -999px;
$icon-retail-width: 43px;
$icon-retail-height: 45px;
$icon-retail-total-width: 2040px;
$icon-retail-total-height: 1858px;
$icon-retail-image: '../images/sprite/sprite.png';
$icon-retail: (693px, 999px, -693px, -999px, 43px, 45px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-retail', );
$icon-schedule-xs-name: 'icon-schedule-xs';
$icon-schedule-xs-x: 367px;
$icon-schedule-xs-y: 1248px;
$icon-schedule-xs-offset-x: -367px;
$icon-schedule-xs-offset-y: -1248px;
$icon-schedule-xs-width: 65px;
$icon-schedule-xs-height: 65px;
$icon-schedule-xs-total-width: 2040px;
$icon-schedule-xs-total-height: 1858px;
$icon-schedule-xs-image: '../images/sprite/sprite.png';
$icon-schedule-xs: (367px, 1248px, -367px, -1248px, 65px, 65px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-schedule-xs', );
$icon-schedule-name: 'icon-schedule';
$icon-schedule-x: 1824px;
$icon-schedule-y: 345px;
$icon-schedule-offset-x: -1824px;
$icon-schedule-offset-y: -345px;
$icon-schedule-width: 129px;
$icon-schedule-height: 129px;
$icon-schedule-total-width: 2040px;
$icon-schedule-total-height: 1858px;
$icon-schedule-image: '../images/sprite/sprite.png';
$icon-schedule: (1824px, 345px, -1824px, -345px, 129px, 129px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-schedule', );
$icon-services-xs-name: 'icon-services-xs';
$icon-services-xs-x: 959px;
$icon-services-xs-y: 1048px;
$icon-services-xs-offset-x: -959px;
$icon-services-xs-offset-y: -1048px;
$icon-services-xs-width: 47px;
$icon-services-xs-height: 46px;
$icon-services-xs-total-width: 2040px;
$icon-services-xs-total-height: 1858px;
$icon-services-xs-image: '../images/sprite/sprite.png';
$icon-services-xs: (959px, 1048px, -959px, -1048px, 47px, 46px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-services-xs', );
$icon-services-name: 'icon-services';
$icon-services-x: 908px;
$icon-services-y: 1048px;
$icon-services-offset-x: -908px;
$icon-services-offset-y: -1048px;
$icon-services-width: 47px;
$icon-services-height: 46px;
$icon-services-total-width: 2040px;
$icon-services-total-height: 1858px;
$icon-services-image: '../images/sprite/sprite.png';
$icon-services: (908px, 1048px, -908px, -1048px, 47px, 46px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-services', );
$icon-star-name: 'icon-star';
$icon-star-x: 740px;
$icon-star-y: 999px;
$icon-star-offset-x: -740px;
$icon-star-offset-y: -999px;
$icon-star-width: 43px;
$icon-star-height: 43px;
$icon-star-total-width: 2040px;
$icon-star-total-height: 1858px;
$icon-star-image: '../images/sprite/sprite.png';
$icon-star: (740px, 999px, -740px, -999px, 43px, 43px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-star', );
$icon-synchr-hover-name: 'icon-synchr-hover';
$icon-synchr-hover-x: 672px;
$icon-synchr-hover-y: 801px;
$icon-synchr-hover-offset-x: -672px;
$icon-synchr-hover-offset-y: -801px;
$icon-synchr-hover-width: 150px;
$icon-synchr-hover-height: 51px;
$icon-synchr-hover-total-width: 2040px;
$icon-synchr-hover-total-height: 1858px;
$icon-synchr-hover-image: '../images/sprite/sprite.png';
$icon-synchr-hover: (672px, 801px, -672px, -801px, 150px, 51px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-synchr-hover', );
$icon-synchr-name: 'icon-synchr';
$icon-synchr-x: 1808px;
$icon-synchr-y: 611px;
$icon-synchr-offset-x: -1808px;
$icon-synchr-offset-y: -611px;
$icon-synchr-width: 201px;
$icon-synchr-height: 69px;
$icon-synchr-total-width: 2040px;
$icon-synchr-total-height: 1858px;
$icon-synchr-image: '../images/sprite/sprite.png';
$icon-synchr: (1808px, 611px, -1808px, -611px, 201px, 69px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-synchr', );
$icon-time-xs-name: 'icon-time-xs';
$icon-time-xs-x: 436px;
$icon-time-xs-y: 1248px;
$icon-time-xs-offset-x: -436px;
$icon-time-xs-offset-y: -1248px;
$icon-time-xs-width: 65px;
$icon-time-xs-height: 65px;
$icon-time-xs-total-width: 2040px;
$icon-time-xs-total-height: 1858px;
$icon-time-xs-image: '../images/sprite/sprite.png';
$icon-time-xs: (436px, 1248px, -436px, -1248px, 65px, 65px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-time-xs', );
$icon-time-name: 'icon-time';
$icon-time-x: 1824px;
$icon-time-y: 478px;
$icon-time-offset-x: -1824px;
$icon-time-offset-y: -478px;
$icon-time-width: 119px;
$icon-time-height: 119px;
$icon-time-total-width: 2040px;
$icon-time-total-height: 1858px;
$icon-time-image: '../images/sprite/sprite.png';
$icon-time: (1824px, 478px, -1824px, -478px, 119px, 119px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-time', );
$icon-traxpayroll-hover-name: 'icon-traxpayroll-hover';
$icon-traxpayroll-hover-x: 826px;
$icon-traxpayroll-hover-y: 801px;
$icon-traxpayroll-hover-offset-x: -826px;
$icon-traxpayroll-hover-offset-y: -801px;
$icon-traxpayroll-hover-width: 170px;
$icon-traxpayroll-hover-height: 40px;
$icon-traxpayroll-hover-total-width: 2040px;
$icon-traxpayroll-hover-total-height: 1858px;
$icon-traxpayroll-hover-image: '../images/sprite/sprite.png';
$icon-traxpayroll-hover: (826px, 801px, -826px, -801px, 170px, 40px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-traxpayroll-hover', );
$icon-traxpayroll-name: 'icon-traxpayroll';
$icon-traxpayroll-x: 1504px;
$icon-traxpayroll-y: 793px;
$icon-traxpayroll-offset-x: -1504px;
$icon-traxpayroll-offset-y: -793px;
$icon-traxpayroll-width: 228px;
$icon-traxpayroll-height: 53px;
$icon-traxpayroll-total-width: 2040px;
$icon-traxpayroll-total-height: 1858px;
$icon-traxpayroll-image: '../images/sprite/sprite.png';
$icon-traxpayroll: (1504px, 793px, -1504px, -793px, 228px, 53px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-traxpayroll', );
$icon-users-name: 'icon-users';
$icon-users-x: 558px;
$icon-users-y: 1122px;
$icon-users-offset-x: -558px;
$icon-users-offset-y: -1122px;
$icon-users-width: 77px;
$icon-users-height: 62px;
$icon-users-total-width: 2040px;
$icon-users-total-height: 1858px;
$icon-users-image: '../images/sprite/sprite.png';
$icon-users: (558px, 1122px, -558px, -1122px, 77px, 62px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-users', );
$icon-xero-colored-name: 'icon-xero-colored';
$icon-xero-colored-x: 796px;
$icon-xero-colored-y: 1048px;
$icon-xero-colored-offset-x: -796px;
$icon-xero-colored-offset-y: -1048px;
$icon-xero-colored-width: 50px;
$icon-xero-colored-height: 50px;
$icon-xero-colored-total-width: 2040px;
$icon-xero-colored-total-height: 1858px;
$icon-xero-colored-image: '../images/sprite/sprite.png';
$icon-xero-colored: (796px, 1048px, -796px, -1048px, 50px, 50px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-xero-colored', );
$icon-xero-name: 'icon-xero';
$icon-xero-x: 736px;
$icon-xero-y: 402px;
$icon-xero-offset-x: -736px;
$icon-xero-offset-y: -402px;
$icon-xero-width: 114px;
$icon-xero-height: 114px;
$icon-xero-total-width: 2040px;
$icon-xero-total-height: 1858px;
$icon-xero-image: '../images/sprite/sprite.png';
$icon-xero: (736px, 402px, -736px, -402px, 114px, 114px, 2040px, 1858px, '../images/sprite/sprite.png', 'icon-xero', );
$label-popular-name: 'label-popular';
$label-popular-x: 672px;
$label-popular-y: 681px;
$label-popular-offset-x: -672px;
$label-popular-offset-y: -681px;
$label-popular-width: 133px;
$label-popular-height: 67px;
$label-popular-total-width: 2040px;
$label-popular-total-height: 1858px;
$label-popular-image: '../images/sprite/sprite.png';
$label-popular: (672px, 681px, -672px, -681px, 133px, 67px, 2040px, 1858px, '../images/sprite/sprite.png', 'label-popular', );
$linkedin-xs-name: 'linkedin-xs';
$linkedin-xs-x: 2013px;
$linkedin-xs-y: 648px;
$linkedin-xs-offset-x: -2013px;
$linkedin-xs-offset-y: -648px;
$linkedin-xs-width: 25px;
$linkedin-xs-height: 25px;
$linkedin-xs-total-width: 2040px;
$linkedin-xs-total-height: 1858px;
$linkedin-xs-image: '../images/sprite/sprite.png';
$linkedin-xs: (2013px, 648px, -2013px, -648px, 25px, 25px, 2040px, 1858px, '../images/sprite/sprite.png', 'linkedin-xs', );
$linkedin-name: 'linkedin';
$linkedin-x: 966px;
$linkedin-y: 999px;
$linkedin-offset-x: -966px;
$linkedin-offset-y: -999px;
$linkedin-width: 38px;
$linkedin-height: 38px;
$linkedin-total-width: 2040px;
$linkedin-total-height: 1858px;
$linkedin-image: '../images/sprite/sprite.png';
$linkedin: (966px, 999px, -966px, -999px, 38px, 38px, 2040px, 1858px, '../images/sprite/sprite.png', 'linkedin', );
$list-option-white-name: 'list-option-white';
$list-option-white-x: 2024px;
$list-option-white-y: 793px;
$list-option-white-offset-x: -2024px;
$list-option-white-offset-y: -793px;
$list-option-white-width: 15px;
$list-option-white-height: 15px;
$list-option-white-total-width: 2040px;
$list-option-white-total-height: 1858px;
$list-option-white-image: '../images/sprite/sprite.png';
$list-option-white: (2024px, 793px, -2024px, -793px, 15px, 15px, 2040px, 1858px, '../images/sprite/sprite.png', 'list-option-white', );
$logo-phone-name: 'logo-phone';
$logo-phone-x: 976px;
$logo-phone-y: 625px;
$logo-phone-offset-x: -976px;
$logo-phone-offset-y: -625px;
$logo-phone-width: 120px;
$logo-phone-height: 29px;
$logo-phone-total-width: 2040px;
$logo-phone-total-height: 1858px;
$logo-phone-image: '../images/sprite/sprite.png';
$logo-phone: (976px, 625px, -976px, -625px, 120px, 29px, 2040px, 1858px, '../images/sprite/sprite.png', 'logo-phone', );
$logo-name: 'logo';
$logo-x: 809px;
$logo-y: 681px;
$logo-offset-x: -809px;
$logo-offset-y: -681px;
$logo-width: 185px;
$logo-height: 44px;
$logo-total-width: 2040px;
$logo-total-height: 1858px;
$logo-image: '../images/sprite/sprite.png';
$logo: (809px, 681px, -809px, -681px, 185px, 44px, 2040px, 1858px, '../images/sprite/sprite.png', 'logo', );
$slick-next-md-name: 'slick-next-md';
$slick-next-md-x: 632px;
$slick-next-md-y: 1048px;
$slick-next-md-offset-x: -632px;
$slick-next-md-offset-y: -1048px;
$slick-next-md-width: 70px;
$slick-next-md-height: 70px;
$slick-next-md-total-width: 2040px;
$slick-next-md-total-height: 1858px;
$slick-next-md-image: '../images/sprite/sprite.png';
$slick-next-md: (632px, 1048px, -632px, -1048px, 70px, 70px, 2040px, 1858px, '../images/sprite/sprite.png', 'slick-next-md', );
$slick-next-mob-name: 'slick-next-mob';
$slick-next-mob-x: 1044px;
$slick-next-mob-y: 801px;
$slick-next-mob-offset-x: -1044px;
$slick-next-mob-offset-y: -801px;
$slick-next-mob-width: 40px;
$slick-next-mob-height: 40px;
$slick-next-mob-total-width: 2040px;
$slick-next-mob-total-height: 1858px;
$slick-next-mob-image: '../images/sprite/sprite.png';
$slick-next-mob: (1044px, 801px, -1044px, -801px, 40px, 40px, 2040px, 1858px, '../images/sprite/sprite.png', 'slick-next-mob', );
$slick-next-name: 'slick-next';
$slick-next-x: 941px;
$slick-next-y: 520px;
$slick-next-offset-x: -941px;
$slick-next-offset-y: -520px;
$slick-next-width: 96px;
$slick-next-height: 96px;
$slick-next-total-width: 2040px;
$slick-next-total-height: 1858px;
$slick-next-image: '../images/sprite/sprite.png';
$slick-next: (941px, 520px, -941px, -520px, 96px, 96px, 2040px, 1858px, '../images/sprite/sprite.png', 'slick-next', );
$slick-prev-md-name: 'slick-prev-md';
$slick-prev-md-x: 558px;
$slick-prev-md-y: 1048px;
$slick-prev-md-offset-x: -558px;
$slick-prev-md-offset-y: -1048px;
$slick-prev-md-width: 70px;
$slick-prev-md-height: 70px;
$slick-prev-md-total-width: 2040px;
$slick-prev-md-total-height: 1858px;
$slick-prev-md-image: '../images/sprite/sprite.png';
$slick-prev-md: (558px, 1048px, -558px, -1048px, 70px, 70px, 2040px, 1858px, '../images/sprite/sprite.png', 'slick-prev-md', );
$slick-prev-mob-name: 'slick-prev-mob';
$slick-prev-mob-x: 1000px;
$slick-prev-mob-y: 801px;
$slick-prev-mob-offset-x: -1000px;
$slick-prev-mob-offset-y: -801px;
$slick-prev-mob-width: 40px;
$slick-prev-mob-height: 40px;
$slick-prev-mob-total-width: 2040px;
$slick-prev-mob-total-height: 1858px;
$slick-prev-mob-image: '../images/sprite/sprite.png';
$slick-prev-mob: (1000px, 801px, -1000px, -801px, 40px, 40px, 2040px, 1858px, '../images/sprite/sprite.png', 'slick-prev-mob', );
$slick-prev-name: 'slick-prev';
$slick-prev-x: 841px;
$slick-prev-y: 520px;
$slick-prev-offset-x: -841px;
$slick-prev-offset-y: -520px;
$slick-prev-width: 96px;
$slick-prev-height: 96px;
$slick-prev-total-width: 2040px;
$slick-prev-total-height: 1858px;
$slick-prev-image: '../images/sprite/sprite.png';
$slick-prev: (841px, 520px, -841px, -520px, 96px, 96px, 2040px, 1858px, '../images/sprite/sprite.png', 'slick-prev', );
$smartphone-name: 'smartphone';
$smartphone-x: 0px;
$smartphone-y: 1248px;
$smartphone-offset-x: 0px;
$smartphone-offset-y: -1248px;
$smartphone-width: 293px;
$smartphone-height: 610px;
$smartphone-total-width: 2040px;
$smartphone-total-height: 1858px;
$smartphone-image: '../images/sprite/sprite.png';
$smartphone: (0px, 1248px, 0px, -1248px, 293px, 610px, 2040px, 1858px, '../images/sprite/sprite.png', 'smartphone', );
$tab-laptop-name: 'tab-laptop';
$tab-laptop-x: 0px;
$tab-laptop-y: 402px;
$tab-laptop-offset-x: 0px;
$tab-laptop-offset-y: -402px;
$tab-laptop-width: 668px;
$tab-laptop-height: 509px;
$tab-laptop-total-width: 2040px;
$tab-laptop-total-height: 1858px;
$tab-laptop-image: '../images/sprite/sprite.png';
$tab-laptop: (0px, 402px, 0px, -402px, 668px, 509px, 2040px, 1858px, '../images/sprite/sprite.png', 'tab-laptop', );
$twitter-xs-name: 'twitter-xs';
$twitter-xs-x: 1049px;
$twitter-xs-y: 915px;
$twitter-xs-offset-x: -1049px;
$twitter-xs-offset-y: -915px;
$twitter-xs-width: 25px;
$twitter-xs-height: 25px;
$twitter-xs-total-width: 2040px;
$twitter-xs-total-height: 1858px;
$twitter-xs-image: '../images/sprite/sprite.png';
$twitter-xs: (1049px, 915px, -1049px, -915px, 25px, 25px, 2040px, 1858px, '../images/sprite/sprite.png', 'twitter-xs', );
$twitter-name: 'twitter';
$twitter-x: 1050px;
$twitter-y: 999px;
$twitter-offset-x: -1050px;
$twitter-offset-y: -999px;
$twitter-width: 38px;
$twitter-height: 38px;
$twitter-total-width: 2040px;
$twitter-total-height: 1858px;
$twitter-image: '../images/sprite/sprite.png';
$twitter: (1050px, 999px, -1050px, -999px, 38px, 38px, 2040px, 1858px, '../images/sprite/sprite.png', 'twitter', );
$spritesheet-width: 2040px;
$spritesheet-height: 1858px;
$spritesheet-image: '../images/sprite/sprite.png';
$spritesheet-sprites: ($bg-mac-s-desk, $bg-mac-tab, $bg-mac, $btn-search, $btn-toggle, $bullet-option-smaller, $bullet-option, $carousel-next-xs, $carousel-next, $carousel-prev-small, $carousel-prev-xs, $carousel-prev, $facebook-xs, $facebook, $fancy-close, $google-play, $google-xs, $google, $icon-1, $icon-2, $icon-3, $icon-app-store, $icon-bamboo-hover, $icon-bamboo, $icon-check-blue, $icon-check-green, $icon-check-yellow, $icon-comment, $icon-devices-s-desk, $icon-devices-s, $icon-devices, $icon-education-xs, $icon-education, $icon-epson-hover, $icon-epson, $icon-fixed, $icon-government-xs, $icon-government, $icon-gusto-hover, $icon-gusto, $icon-healthcare-xs, $icon-healthcare, $icon-heart, $icon-hospitality-xs, $icon-hospitality, $icon-kounta-hover, $icon-kounta, $icon-lightspeed-hover, $icon-lightspeed, $icon-myob-colored, $icon-myob, $icon-phone-xs, $icon-phone, $icon-pie, $icon-plus-hover, $icon-plus-ipad-hover, $icon-plus-ipad, $icon-plus, $icon-pricing-alert, $icon-pricing-call, $icon-pricing-sms, $icon-puzzle, $icon-quickbooks-hover, $icon-quickbooks, $icon-restaurant-xs, $icon-restaurant, $icon-retail-xs, $icon-retail, $icon-schedule-xs, $icon-schedule, $icon-services-xs, $icon-services, $icon-star, $icon-synchr-hover, $icon-synchr, $icon-time-xs, $icon-time, $icon-traxpayroll-hover, $icon-traxpayroll, $icon-users, $icon-xero-colored, $icon-xero, $label-popular, $linkedin-xs, $linkedin, $list-option-white, $logo-phone, $logo, $slick-next-md, $slick-next-mob, $slick-next, $slick-prev-md, $slick-prev-mob, $slick-prev, $smartphone, $tab-laptop, $twitter-xs, $twitter, );
$spritesheet: (2040px, 1858px, '../images/sprite/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
