/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$-logo-name: 'Logo';
$-logo-x: 0px;
$-logo-y: 0px;
$-logo-offset-x: 0px;
$-logo-offset-y: 0px;
$-logo-width: 118px;
$-logo-height: 45px;
$-logo-total-width: 214px;
$-logo-total-height: 161px;
$-logo-image: '../images/sprite/sprite.png';
$-logo: (0px, 0px, 0px, 0px, 118px, 45px, 214px, 161px, '../images/sprite/sprite.png', 'Logo', );
$arrow-down-name: 'arrow-down';
$arrow-down-x: 30px;
$arrow-down-y: 146px;
$arrow-down-offset-x: -30px;
$arrow-down-offset-y: -146px;
$arrow-down-width: 11px;
$arrow-down-height: 15px;
$arrow-down-total-width: 214px;
$arrow-down-total-height: 161px;
$arrow-down-image: '../images/sprite/sprite.png';
$arrow-down: (30px, 146px, -30px, -146px, 11px, 15px, 214px, 161px, '../images/sprite/sprite.png', 'arrow-down', );
$arrow-left-name: 'arrow-left';
$arrow-left-x: 137px;
$arrow-left-y: 126px;
$arrow-left-offset-x: -137px;
$arrow-left-offset-y: -126px;
$arrow-left-width: 16px;
$arrow-left-height: 11px;
$arrow-left-total-width: 214px;
$arrow-left-total-height: 161px;
$arrow-left-image: '../images/sprite/sprite.png';
$arrow-left: (137px, 126px, -137px, -126px, 16px, 11px, 214px, 161px, '../images/sprite/sprite.png', 'arrow-left', );
$arrow-right-btn-name: 'arrow-right-btn';
$arrow-right-btn-x: 45px;
$arrow-right-btn-y: 146px;
$arrow-right-btn-offset-x: -45px;
$arrow-right-btn-offset-y: -146px;
$arrow-right-btn-width: 8px;
$arrow-right-btn-height: 15px;
$arrow-right-btn-total-width: 214px;
$arrow-right-btn-total-height: 161px;
$arrow-right-btn-image: '../images/sprite/sprite.png';
$arrow-right-btn: (45px, 146px, -45px, -146px, 8px, 15px, 214px, 161px, '../images/sprite/sprite.png', 'arrow-right-btn', );
$arrow-right-white-name: 'arrow-right-white';
$arrow-right-white-x: 206px;
$arrow-right-white-y: 39px;
$arrow-right-white-offset-x: -206px;
$arrow-right-white-offset-y: -39px;
$arrow-right-white-width: 8px;
$arrow-right-white-height: 15px;
$arrow-right-white-total-width: 214px;
$arrow-right-white-total-height: 161px;
$arrow-right-white-image: '../images/sprite/sprite.png';
$arrow-right-white: (206px, 39px, -206px, -39px, 8px, 15px, 214px, 161px, '../images/sprite/sprite.png', 'arrow-right-white', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 97px;
$arrow-right-y: 126px;
$arrow-right-offset-x: -97px;
$arrow-right-offset-y: -126px;
$arrow-right-width: 16px;
$arrow-right-height: 11px;
$arrow-right-total-width: 214px;
$arrow-right-total-height: 161px;
$arrow-right-image: '../images/sprite/sprite.png';
$arrow-right: (97px, 126px, -97px, -126px, 16px, 11px, 214px, 161px, '../images/sprite/sprite.png', 'arrow-right', );
$arrow-up-red-name: 'arrow-up-red';
$arrow-up-red-x: 0px;
$arrow-up-red-y: 146px;
$arrow-up-red-offset-x: 0px;
$arrow-up-red-offset-y: -146px;
$arrow-up-red-width: 11px;
$arrow-up-red-height: 15px;
$arrow-up-red-total-width: 214px;
$arrow-up-red-total-height: 161px;
$arrow-up-red-image: '../images/sprite/sprite.png';
$arrow-up-red: (0px, 146px, 0px, -146px, 11px, 15px, 214px, 161px, '../images/sprite/sprite.png', 'arrow-up-red', );
$arrow-up-name: 'arrow-up';
$arrow-up-x: 15px;
$arrow-up-y: 146px;
$arrow-up-offset-x: -15px;
$arrow-up-offset-y: -146px;
$arrow-up-width: 11px;
$arrow-up-height: 15px;
$arrow-up-total-width: 214px;
$arrow-up-total-height: 161px;
$arrow-up-image: '../images/sprite/sprite.png';
$arrow-up: (15px, 146px, -15px, -146px, 11px, 15px, 214px, 161px, '../images/sprite/sprite.png', 'arrow-up', );
$arrows-white-next-name: 'arrows-white-next';
$arrows-white-next-x: 57px;
$arrows-white-next-y: 146px;
$arrows-white-next-offset-x: -57px;
$arrows-white-next-offset-y: -146px;
$arrows-white-next-width: 8px;
$arrows-white-next-height: 15px;
$arrows-white-next-total-width: 214px;
$arrows-white-next-total-height: 161px;
$arrows-white-next-image: '../images/sprite/sprite.png';
$arrows-white-next: (57px, 146px, -57px, -146px, 8px, 15px, 214px, 161px, '../images/sprite/sprite.png', 'arrows-white-next', );
$checkbox-mark-name: 'checkbox-mark';
$checkbox-mark-x: 160px;
$checkbox-mark-y: 98px;
$checkbox-mark-offset-x: -160px;
$checkbox-mark-offset-y: -98px;
$checkbox-mark-width: 16px;
$checkbox-mark-height: 12px;
$checkbox-mark-total-width: 214px;
$checkbox-mark-total-height: 161px;
$checkbox-mark-image: '../images/sprite/sprite.png';
$checkbox-mark: (160px, 98px, -160px, -98px, 16px, 12px, 214px, 161px, '../images/sprite/sprite.png', 'checkbox-mark', );
$checkbox-name: 'checkbox';
$checkbox-x: 140px;
$checkbox-y: 98px;
$checkbox-offset-x: -140px;
$checkbox-offset-y: -98px;
$checkbox-width: 16px;
$checkbox-height: 12px;
$checkbox-total-width: 214px;
$checkbox-total-height: 161px;
$checkbox-image: '../images/sprite/sprite.png';
$checkbox: (140px, 98px, -140px, -98px, 16px, 12px, 214px, 161px, '../images/sprite/sprite.png', 'checkbox', );
$flag-belgique-name: 'flag-belgique';
$flag-belgique-x: 178px;
$flag-belgique-y: 82px;
$flag-belgique-offset-x: -178px;
$flag-belgique-offset-y: -82px;
$flag-belgique-width: 18px;
$flag-belgique-height: 10px;
$flag-belgique-total-width: 214px;
$flag-belgique-total-height: 161px;
$flag-belgique-image: '../images/sprite/sprite.png';
$flag-belgique: (178px, 82px, -178px, -82px, 18px, 10px, 214px, 161px, '../images/sprite/sprite.png', 'flag-belgique', );
$flag-france-name: 'flag-france';
$flag-france-x: 156px;
$flag-france-y: 82px;
$flag-france-offset-x: -156px;
$flag-france-offset-y: -82px;
$flag-france-width: 18px;
$flag-france-height: 10px;
$flag-france-total-width: 214px;
$flag-france-total-height: 161px;
$flag-france-image: '../images/sprite/sprite.png';
$flag-france: (156px, 82px, -156px, -82px, 18px, 10px, 214px, 161px, '../images/sprite/sprite.png', 'flag-france', );
$found-next-name: 'found-next';
$found-next-x: 117px;
$found-next-y: 126px;
$found-next-offset-x: -117px;
$found-next-offset-y: -126px;
$found-next-width: 16px;
$found-next-height: 11px;
$found-next-total-width: 214px;
$found-next-total-height: 161px;
$found-next-image: '../images/sprite/sprite.png';
$found-next: (117px, 126px, -117px, -126px, 16px, 11px, 214px, 161px, '../images/sprite/sprite.png', 'found-next', );
$found-prev-name: 'found-prev';
$found-prev-x: 157px;
$found-prev-y: 126px;
$found-prev-offset-x: -157px;
$found-prev-offset-y: -126px;
$found-prev-width: 16px;
$found-prev-height: 11px;
$found-prev-total-width: 214px;
$found-prev-total-height: 161px;
$found-prev-image: '../images/sprite/sprite.png';
$found-prev: (157px, 126px, -157px, -126px, 16px, 11px, 214px, 161px, '../images/sprite/sprite.png', 'found-prev', );
$icon-alert-info-name: 'icon-alert-info';
$icon-alert-info-x: 0px;
$icon-alert-info-y: 98px;
$icon-alert-info-offset-x: 0px;
$icon-alert-info-offset-y: -98px;
$icon-alert-info-width: 24px;
$icon-alert-info-height: 24px;
$icon-alert-info-total-width: 214px;
$icon-alert-info-total-height: 161px;
$icon-alert-info-image: '../images/sprite/sprite.png';
$icon-alert-info: (0px, 98px, 0px, -98px, 24px, 24px, 214px, 161px, '../images/sprite/sprite.png', 'icon-alert-info', );
$icon-avatara-name: 'icon-avatara';
$icon-avatara-x: 41px;
$icon-avatara-y: 126px;
$icon-avatara-offset-x: -41px;
$icon-avatara-offset-y: -126px;
$icon-avatara-width: 16px;
$icon-avatara-height: 16px;
$icon-avatara-total-width: 214px;
$icon-avatara-total-height: 161px;
$icon-avatara-image: '../images/sprite/sprite.png';
$icon-avatara: (41px, 126px, -41px, -126px, 16px, 16px, 214px, 161px, '../images/sprite/sprite.png', 'icon-avatara', );
$icon-bfm-name: 'icon-bfm';
$icon-bfm-x: 122px;
$icon-bfm-y: 39px;
$icon-bfm-offset-x: -122px;
$icon-bfm-offset-y: -39px;
$icon-bfm-width: 57px;
$icon-bfm-height: 21px;
$icon-bfm-total-width: 214px;
$icon-bfm-total-height: 161px;
$icon-bfm-image: '../images/sprite/sprite.png';
$icon-bfm: (122px, 39px, -122px, -39px, 57px, 21px, 214px, 161px, '../images/sprite/sprite.png', 'icon-bfm', );
$icon-download-name: 'icon-download';
$icon-download-x: 21px;
$icon-download-y: 126px;
$icon-download-offset-x: -21px;
$icon-download-offset-y: -126px;
$icon-download-width: 16px;
$icon-download-height: 16px;
$icon-download-total-width: 214px;
$icon-download-total-height: 161px;
$icon-download-image: '../images/sprite/sprite.png';
$icon-download: (21px, 126px, -21px, -126px, 16px, 16px, 214px, 161px, '../images/sprite/sprite.png', 'icon-download', );
$icon-graph-more-name: 'icon-graph-more';
$icon-graph-more-x: 56px;
$icon-graph-more-y: 117px;
$icon-graph-more-offset-x: -56px;
$icon-graph-more-offset-y: -117px;
$icon-graph-more-width: 22px;
$icon-graph-more-height: 4px;
$icon-graph-more-total-width: 214px;
$icon-graph-more-total-height: 161px;
$icon-graph-more-image: '../images/sprite/sprite.png';
$icon-graph-more: (56px, 117px, -56px, -117px, 22px, 4px, 214px, 161px, '../images/sprite/sprite.png', 'icon-graph-more', );
$icon-linkedin-white-name: 'icon-linkedin-white';
$icon-linkedin-white-x: 0px;
$icon-linkedin-white-y: 126px;
$icon-linkedin-white-offset-x: 0px;
$icon-linkedin-white-offset-y: -126px;
$icon-linkedin-white-width: 17px;
$icon-linkedin-white-height: 16px;
$icon-linkedin-white-total-width: 214px;
$icon-linkedin-white-total-height: 161px;
$icon-linkedin-white-image: '../images/sprite/sprite.png';
$icon-linkedin-white: (0px, 126px, 0px, -126px, 17px, 16px, 214px, 161px, '../images/sprite/sprite.png', 'icon-linkedin-white', );
$icon-linkedin-name: 'icon-linkedin';
$icon-linkedin-x: 156px;
$icon-linkedin-y: 64px;
$icon-linkedin-offset-x: -156px;
$icon-linkedin-offset-y: -64px;
$icon-linkedin-width: 56px;
$icon-linkedin-height: 14px;
$icon-linkedin-total-width: 214px;
$icon-linkedin-total-height: 161px;
$icon-linkedin-image: '../images/sprite/sprite.png';
$icon-linkedin: (156px, 64px, -156px, -64px, 56px, 14px, 214px, 161px, '../images/sprite/sprite.png', 'icon-linkedin', );
$icon-logo-white-name: 'icon-logo-white';
$icon-logo-white-x: 0px;
$icon-logo-white-y: 49px;
$icon-logo-white-offset-x: 0px;
$icon-logo-white-offset-y: -49px;
$icon-logo-white-width: 118px;
$icon-logo-white-height: 45px;
$icon-logo-white-total-width: 214px;
$icon-logo-white-total-height: 161px;
$icon-logo-white-image: '../images/sprite/sprite.png';
$icon-logo-white: (0px, 49px, 0px, -49px, 118px, 45px, 214px, 161px, '../images/sprite/sprite.png', 'icon-logo-white', );
$icon-play-name: 'icon-play';
$icon-play-x: 28px;
$icon-play-y: 98px;
$icon-play-offset-x: -28px;
$icon-play-offset-y: -98px;
$icon-play-width: 24px;
$icon-play-height: 24px;
$icon-play-total-width: 214px;
$icon-play-total-height: 161px;
$icon-play-image: '../images/sprite/sprite.png';
$icon-play: (28px, 98px, -28px, -98px, 24px, 24px, 214px, 161px, '../images/sprite/sprite.png', 'icon-play', );
$icon-plus-name: 'icon-plus';
$icon-plus-x: 183px;
$icon-plus-y: 39px;
$icon-plus-offset-x: -183px;
$icon-plus-offset-y: -39px;
$icon-plus-width: 19px;
$icon-plus-height: 19px;
$icon-plus-total-width: 214px;
$icon-plus-total-height: 161px;
$icon-plus-image: '../images/sprite/sprite.png';
$icon-plus: (183px, 39px, -183px, -39px, 19px, 19px, 214px, 161px, '../images/sprite/sprite.png', 'icon-plus', );
$icon-post-hover-name: 'icon-post-hover';
$icon-post-hover-x: 61px;
$icon-post-hover-y: 126px;
$icon-post-hover-offset-x: -61px;
$icon-post-hover-offset-y: -126px;
$icon-post-hover-width: 14px;
$icon-post-hover-height: 16px;
$icon-post-hover-total-width: 214px;
$icon-post-hover-total-height: 161px;
$icon-post-hover-image: '../images/sprite/sprite.png';
$icon-post-hover: (61px, 126px, -61px, -126px, 14px, 16px, 214px, 161px, '../images/sprite/sprite.png', 'icon-post-hover', );
$icon-post-name: 'icon-post';
$icon-post-x: 79px;
$icon-post-y: 126px;
$icon-post-offset-x: -79px;
$icon-post-offset-y: -126px;
$icon-post-width: 14px;
$icon-post-height: 16px;
$icon-post-total-width: 214px;
$icon-post-total-height: 161px;
$icon-post-image: '../images/sprite/sprite.png';
$icon-post: (79px, 126px, -79px, -126px, 14px, 16px, 214px, 161px, '../images/sprite/sprite.png', 'icon-post', );
$icon-slide-divider-name: 'icon-slide-divider';
$icon-slide-divider-x: 122px;
$icon-slide-divider-y: 64px;
$icon-slide-divider-offset-x: -122px;
$icon-slide-divider-offset-y: -64px;
$icon-slide-divider-width: 30px;
$icon-slide-divider-height: 29px;
$icon-slide-divider-total-width: 214px;
$icon-slide-divider-total-height: 161px;
$icon-slide-divider-image: '../images/sprite/sprite.png';
$icon-slide-divider: (122px, 64px, -122px, -64px, 30px, 29px, 214px, 161px, '../images/sprite/sprite.png', 'icon-slide-divider', );
$icon-twitter-hover-name: 'icon-twitter-hover';
$icon-twitter-hover-x: 120px;
$icon-twitter-hover-y: 98px;
$icon-twitter-hover-offset-x: -120px;
$icon-twitter-hover-offset-y: -98px;
$icon-twitter-hover-width: 16px;
$icon-twitter-hover-height: 13px;
$icon-twitter-hover-total-width: 214px;
$icon-twitter-hover-total-height: 161px;
$icon-twitter-hover-image: '../images/sprite/sprite.png';
$icon-twitter-hover: (120px, 98px, -120px, -98px, 16px, 13px, 214px, 161px, '../images/sprite/sprite.png', 'icon-twitter-hover', );
$icon-twitter-name: 'icon-twitter';
$icon-twitter-x: 100px;
$icon-twitter-y: 98px;
$icon-twitter-offset-x: -100px;
$icon-twitter-offset-y: -98px;
$icon-twitter-width: 16px;
$icon-twitter-height: 13px;
$icon-twitter-total-width: 214px;
$icon-twitter-total-height: 161px;
$icon-twitter-image: '../images/sprite/sprite.png';
$icon-twitter: (100px, 98px, -100px, -98px, 16px, 13px, 214px, 161px, '../images/sprite/sprite.png', 'icon-twitter', );
$lang-selected-name: 'lang-selected';
$lang-selected-x: 180px;
$lang-selected-y: 98px;
$lang-selected-offset-x: -180px;
$lang-selected-offset-y: -98px;
$lang-selected-width: 16px;
$lang-selected-height: 12px;
$lang-selected-total-width: 214px;
$lang-selected-total-height: 161px;
$lang-selected-image: '../images/sprite/sprite.png';
$lang-selected: (180px, 98px, -180px, -98px, 16px, 12px, 214px, 161px, '../images/sprite/sprite.png', 'lang-selected', );
$logo-sphones-name: 'logo-sphones';
$logo-sphones-x: 122px;
$logo-sphones-y: 0px;
$logo-sphones-offset-x: -122px;
$logo-sphones-offset-y: 0px;
$logo-sphones-width: 92px;
$logo-sphones-height: 35px;
$logo-sphones-total-width: 214px;
$logo-sphones-total-height: 161px;
$logo-sphones-image: '../images/sprite/sprite.png';
$logo-sphones: (122px, 0px, -122px, 0px, 92px, 35px, 214px, 161px, '../images/sprite/sprite.png', 'logo-sphones', );
$panel-closed-name: 'panel-closed';
$panel-closed-x: 200px;
$panel-closed-y: 82px;
$panel-closed-offset-x: -200px;
$panel-closed-offset-y: -82px;
$panel-closed-width: 13px;
$panel-closed-height: 8px;
$panel-closed-total-width: 214px;
$panel-closed-total-height: 161px;
$panel-closed-image: '../images/sprite/sprite.png';
$panel-closed: (200px, 82px, -200px, -82px, 13px, 8px, 214px, 161px, '../images/sprite/sprite.png', 'panel-closed', );
$panel-opened-name: 'panel-opened';
$panel-opened-x: 200px;
$panel-opened-y: 98px;
$panel-opened-offset-x: -200px;
$panel-opened-offset-y: -98px;
$panel-opened-width: 12px;
$panel-opened-height: 8px;
$panel-opened-total-width: 214px;
$panel-opened-total-height: 161px;
$panel-opened-image: '../images/sprite/sprite.png';
$panel-opened: (200px, 98px, -200px, -98px, 12px, 8px, 214px, 161px, '../images/sprite/sprite.png', 'panel-opened', );
$slide-next-name: 'slide-next';
$slide-next-x: 177px;
$slide-next-y: 126px;
$slide-next-offset-x: -177px;
$slide-next-offset-y: -126px;
$slide-next-width: 15px;
$slide-next-height: 11px;
$slide-next-total-width: 214px;
$slide-next-total-height: 161px;
$slide-next-image: '../images/sprite/sprite.png';
$slide-next: (177px, 126px, -177px, -126px, 15px, 11px, 214px, 161px, '../images/sprite/sprite.png', 'slide-next', );
$slide-prev-name: 'slide-prev';
$slide-prev-x: 196px;
$slide-prev-y: 126px;
$slide-prev-offset-x: -196px;
$slide-prev-offset-y: -126px;
$slide-prev-width: 15px;
$slide-prev-height: 11px;
$slide-prev-total-width: 214px;
$slide-prev-total-height: 161px;
$slide-prev-image: '../images/sprite/sprite.png';
$slide-prev: (196px, 126px, -196px, -126px, 15px, 11px, 214px, 161px, '../images/sprite/sprite.png', 'slide-prev', );
$toggle-menu-name: 'toggle-menu';
$toggle-menu-x: 56px;
$toggle-menu-y: 98px;
$toggle-menu-offset-x: -56px;
$toggle-menu-offset-y: -98px;
$toggle-menu-width: 20px;
$toggle-menu-height: 15px;
$toggle-menu-total-width: 214px;
$toggle-menu-total-height: 161px;
$toggle-menu-image: '../images/sprite/sprite.png';
$toggle-menu: (56px, 98px, -56px, -98px, 20px, 15px, 214px, 161px, '../images/sprite/sprite.png', 'toggle-menu', );
$twittter-red-name: 'twittter-red';
$twittter-red-x: 80px;
$twittter-red-y: 98px;
$twittter-red-offset-x: -80px;
$twittter-red-offset-y: -98px;
$twittter-red-width: 16px;
$twittter-red-height: 13px;
$twittter-red-total-width: 214px;
$twittter-red-total-height: 161px;
$twittter-red-image: '../images/sprite/sprite.png';
$twittter-red: (80px, 98px, -80px, -98px, 16px, 13px, 214px, 161px, '../images/sprite/sprite.png', 'twittter-red', );
$-logo-2x-name: 'Logo@2x';
$-logo-2x-x: 0px;
$-logo-2x-y: 0px;
$-logo-2x-offset-x: 0px;
$-logo-2x-offset-y: 0px;
$-logo-2x-width: 236px;
$-logo-2x-height: 90px;
$-logo-2x-total-width: 428px;
$-logo-2x-total-height: 322px;
$-logo-2x-image: '../images/sprite/sprite@2x.png';
$-logo-2x: (0px, 0px, 0px, 0px, 236px, 90px, 428px, 322px, '../images/sprite/sprite@2x.png', 'Logo@2x', );
$arrow-down-2x-name: 'arrow-down@2x';
$arrow-down-2x-x: 60px;
$arrow-down-2x-y: 292px;
$arrow-down-2x-offset-x: -60px;
$arrow-down-2x-offset-y: -292px;
$arrow-down-2x-width: 22px;
$arrow-down-2x-height: 30px;
$arrow-down-2x-total-width: 428px;
$arrow-down-2x-total-height: 322px;
$arrow-down-2x-image: '../images/sprite/sprite@2x.png';
$arrow-down-2x: (60px, 292px, -60px, -292px, 22px, 30px, 428px, 322px, '../images/sprite/sprite@2x.png', 'arrow-down@2x', );
$arrow-left-2x-name: 'arrow-left@2x';
$arrow-left-2x-x: 274px;
$arrow-left-2x-y: 252px;
$arrow-left-2x-offset-x: -274px;
$arrow-left-2x-offset-y: -252px;
$arrow-left-2x-width: 32px;
$arrow-left-2x-height: 22px;
$arrow-left-2x-total-width: 428px;
$arrow-left-2x-total-height: 322px;
$arrow-left-2x-image: '../images/sprite/sprite@2x.png';
$arrow-left-2x: (274px, 252px, -274px, -252px, 32px, 22px, 428px, 322px, '../images/sprite/sprite@2x.png', 'arrow-left@2x', );
$arrow-right-btn-2x-name: 'arrow-right-btn@2x';
$arrow-right-btn-2x-x: 90px;
$arrow-right-btn-2x-y: 292px;
$arrow-right-btn-2x-offset-x: -90px;
$arrow-right-btn-2x-offset-y: -292px;
$arrow-right-btn-2x-width: 16px;
$arrow-right-btn-2x-height: 30px;
$arrow-right-btn-2x-total-width: 428px;
$arrow-right-btn-2x-total-height: 322px;
$arrow-right-btn-2x-image: '../images/sprite/sprite@2x.png';
$arrow-right-btn-2x: (90px, 292px, -90px, -292px, 16px, 30px, 428px, 322px, '../images/sprite/sprite@2x.png', 'arrow-right-btn@2x', );
$arrow-right-white-2x-name: 'arrow-right-white@2x';
$arrow-right-white-2x-x: 412px;
$arrow-right-white-2x-y: 78px;
$arrow-right-white-2x-offset-x: -412px;
$arrow-right-white-2x-offset-y: -78px;
$arrow-right-white-2x-width: 16px;
$arrow-right-white-2x-height: 30px;
$arrow-right-white-2x-total-width: 428px;
$arrow-right-white-2x-total-height: 322px;
$arrow-right-white-2x-image: '../images/sprite/sprite@2x.png';
$arrow-right-white-2x: (412px, 78px, -412px, -78px, 16px, 30px, 428px, 322px, '../images/sprite/sprite@2x.png', 'arrow-right-white@2x', );
$arrow-right-2x-name: 'arrow-right@2x';
$arrow-right-2x-x: 194px;
$arrow-right-2x-y: 252px;
$arrow-right-2x-offset-x: -194px;
$arrow-right-2x-offset-y: -252px;
$arrow-right-2x-width: 32px;
$arrow-right-2x-height: 22px;
$arrow-right-2x-total-width: 428px;
$arrow-right-2x-total-height: 322px;
$arrow-right-2x-image: '../images/sprite/sprite@2x.png';
$arrow-right-2x: (194px, 252px, -194px, -252px, 32px, 22px, 428px, 322px, '../images/sprite/sprite@2x.png', 'arrow-right@2x', );
$arrow-up-red-2x-name: 'arrow-up-red@2x';
$arrow-up-red-2x-x: 0px;
$arrow-up-red-2x-y: 292px;
$arrow-up-red-2x-offset-x: 0px;
$arrow-up-red-2x-offset-y: -292px;
$arrow-up-red-2x-width: 22px;
$arrow-up-red-2x-height: 30px;
$arrow-up-red-2x-total-width: 428px;
$arrow-up-red-2x-total-height: 322px;
$arrow-up-red-2x-image: '../images/sprite/sprite@2x.png';
$arrow-up-red-2x: (0px, 292px, 0px, -292px, 22px, 30px, 428px, 322px, '../images/sprite/sprite@2x.png', 'arrow-up-red@2x', );
$arrow-up-2x-name: 'arrow-up@2x';
$arrow-up-2x-x: 30px;
$arrow-up-2x-y: 292px;
$arrow-up-2x-offset-x: -30px;
$arrow-up-2x-offset-y: -292px;
$arrow-up-2x-width: 22px;
$arrow-up-2x-height: 30px;
$arrow-up-2x-total-width: 428px;
$arrow-up-2x-total-height: 322px;
$arrow-up-2x-image: '../images/sprite/sprite@2x.png';
$arrow-up-2x: (30px, 292px, -30px, -292px, 22px, 30px, 428px, 322px, '../images/sprite/sprite@2x.png', 'arrow-up@2x', );
$arrows-white-next-2x-name: 'arrows-white-next@2x';
$arrows-white-next-2x-x: 114px;
$arrows-white-next-2x-y: 292px;
$arrows-white-next-2x-offset-x: -114px;
$arrows-white-next-2x-offset-y: -292px;
$arrows-white-next-2x-width: 16px;
$arrows-white-next-2x-height: 30px;
$arrows-white-next-2x-total-width: 428px;
$arrows-white-next-2x-total-height: 322px;
$arrows-white-next-2x-image: '../images/sprite/sprite@2x.png';
$arrows-white-next-2x: (114px, 292px, -114px, -292px, 16px, 30px, 428px, 322px, '../images/sprite/sprite@2x.png', 'arrows-white-next@2x', );
$checkbox-mark-2x-name: 'checkbox-mark@2x';
$checkbox-mark-2x-x: 320px;
$checkbox-mark-2x-y: 196px;
$checkbox-mark-2x-offset-x: -320px;
$checkbox-mark-2x-offset-y: -196px;
$checkbox-mark-2x-width: 32px;
$checkbox-mark-2x-height: 24px;
$checkbox-mark-2x-total-width: 428px;
$checkbox-mark-2x-total-height: 322px;
$checkbox-mark-2x-image: '../images/sprite/sprite@2x.png';
$checkbox-mark-2x: (320px, 196px, -320px, -196px, 32px, 24px, 428px, 322px, '../images/sprite/sprite@2x.png', 'checkbox-mark@2x', );
$checkbox-2x-name: 'checkbox@2x';
$checkbox-2x-x: 280px;
$checkbox-2x-y: 196px;
$checkbox-2x-offset-x: -280px;
$checkbox-2x-offset-y: -196px;
$checkbox-2x-width: 32px;
$checkbox-2x-height: 24px;
$checkbox-2x-total-width: 428px;
$checkbox-2x-total-height: 322px;
$checkbox-2x-image: '../images/sprite/sprite@2x.png';
$checkbox-2x: (280px, 196px, -280px, -196px, 32px, 24px, 428px, 322px, '../images/sprite/sprite@2x.png', 'checkbox@2x', );
$flag-belgique-2x-name: 'flag-belgique@2x';
$flag-belgique-2x-x: 356px;
$flag-belgique-2x-y: 164px;
$flag-belgique-2x-offset-x: -356px;
$flag-belgique-2x-offset-y: -164px;
$flag-belgique-2x-width: 36px;
$flag-belgique-2x-height: 20px;
$flag-belgique-2x-total-width: 428px;
$flag-belgique-2x-total-height: 322px;
$flag-belgique-2x-image: '../images/sprite/sprite@2x.png';
$flag-belgique-2x: (356px, 164px, -356px, -164px, 36px, 20px, 428px, 322px, '../images/sprite/sprite@2x.png', 'flag-belgique@2x', );
$flag-france-2x-name: 'flag-france@2x';
$flag-france-2x-x: 312px;
$flag-france-2x-y: 164px;
$flag-france-2x-offset-x: -312px;
$flag-france-2x-offset-y: -164px;
$flag-france-2x-width: 36px;
$flag-france-2x-height: 20px;
$flag-france-2x-total-width: 428px;
$flag-france-2x-total-height: 322px;
$flag-france-2x-image: '../images/sprite/sprite@2x.png';
$flag-france-2x: (312px, 164px, -312px, -164px, 36px, 20px, 428px, 322px, '../images/sprite/sprite@2x.png', 'flag-france@2x', );
$found-next-2x-name: 'found-next@2x';
$found-next-2x-x: 234px;
$found-next-2x-y: 252px;
$found-next-2x-offset-x: -234px;
$found-next-2x-offset-y: -252px;
$found-next-2x-width: 32px;
$found-next-2x-height: 22px;
$found-next-2x-total-width: 428px;
$found-next-2x-total-height: 322px;
$found-next-2x-image: '../images/sprite/sprite@2x.png';
$found-next-2x: (234px, 252px, -234px, -252px, 32px, 22px, 428px, 322px, '../images/sprite/sprite@2x.png', 'found-next@2x', );
$found-prev-2x-name: 'found-prev@2x';
$found-prev-2x-x: 314px;
$found-prev-2x-y: 252px;
$found-prev-2x-offset-x: -314px;
$found-prev-2x-offset-y: -252px;
$found-prev-2x-width: 32px;
$found-prev-2x-height: 22px;
$found-prev-2x-total-width: 428px;
$found-prev-2x-total-height: 322px;
$found-prev-2x-image: '../images/sprite/sprite@2x.png';
$found-prev-2x: (314px, 252px, -314px, -252px, 32px, 22px, 428px, 322px, '../images/sprite/sprite@2x.png', 'found-prev@2x', );
$icon-alert-info-2x-name: 'icon-alert-info@2x';
$icon-alert-info-2x-x: 0px;
$icon-alert-info-2x-y: 196px;
$icon-alert-info-2x-offset-x: 0px;
$icon-alert-info-2x-offset-y: -196px;
$icon-alert-info-2x-width: 48px;
$icon-alert-info-2x-height: 48px;
$icon-alert-info-2x-total-width: 428px;
$icon-alert-info-2x-total-height: 322px;
$icon-alert-info-2x-image: '../images/sprite/sprite@2x.png';
$icon-alert-info-2x: (0px, 196px, 0px, -196px, 48px, 48px, 428px, 322px, '../images/sprite/sprite@2x.png', 'icon-alert-info@2x', );
$icon-avatara-2x-name: 'icon-avatara@2x';
$icon-avatara-2x-x: 82px;
$icon-avatara-2x-y: 252px;
$icon-avatara-2x-offset-x: -82px;
$icon-avatara-2x-offset-y: -252px;
$icon-avatara-2x-width: 32px;
$icon-avatara-2x-height: 32px;
$icon-avatara-2x-total-width: 428px;
$icon-avatara-2x-total-height: 322px;
$icon-avatara-2x-image: '../images/sprite/sprite@2x.png';
$icon-avatara-2x: (82px, 252px, -82px, -252px, 32px, 32px, 428px, 322px, '../images/sprite/sprite@2x.png', 'icon-avatara@2x', );
$icon-bfm-2x-name: 'icon-bfm@2x';
$icon-bfm-2x-x: 244px;
$icon-bfm-2x-y: 78px;
$icon-bfm-2x-offset-x: -244px;
$icon-bfm-2x-offset-y: -78px;
$icon-bfm-2x-width: 114px;
$icon-bfm-2x-height: 42px;
$icon-bfm-2x-total-width: 428px;
$icon-bfm-2x-total-height: 322px;
$icon-bfm-2x-image: '../images/sprite/sprite@2x.png';
$icon-bfm-2x: (244px, 78px, -244px, -78px, 114px, 42px, 428px, 322px, '../images/sprite/sprite@2x.png', 'icon-bfm@2x', );
$icon-download-2x-name: 'icon-download@2x';
$icon-download-2x-x: 42px;
$icon-download-2x-y: 252px;
$icon-download-2x-offset-x: -42px;
$icon-download-2x-offset-y: -252px;
$icon-download-2x-width: 32px;
$icon-download-2x-height: 32px;
$icon-download-2x-total-width: 428px;
$icon-download-2x-total-height: 322px;
$icon-download-2x-image: '../images/sprite/sprite@2x.png';
$icon-download-2x: (42px, 252px, -42px, -252px, 32px, 32px, 428px, 322px, '../images/sprite/sprite@2x.png', 'icon-download@2x', );
$icon-graph-more-2x-name: 'icon-graph-more@2x';
$icon-graph-more-2x-x: 112px;
$icon-graph-more-2x-y: 234px;
$icon-graph-more-2x-offset-x: -112px;
$icon-graph-more-2x-offset-y: -234px;
$icon-graph-more-2x-width: 44px;
$icon-graph-more-2x-height: 8px;
$icon-graph-more-2x-total-width: 428px;
$icon-graph-more-2x-total-height: 322px;
$icon-graph-more-2x-image: '../images/sprite/sprite@2x.png';
$icon-graph-more-2x: (112px, 234px, -112px, -234px, 44px, 8px, 428px, 322px, '../images/sprite/sprite@2x.png', 'icon-graph-more@2x', );
$icon-linkedin-white-2x-name: 'icon-linkedin-white@2x';
$icon-linkedin-white-2x-x: 0px;
$icon-linkedin-white-2x-y: 252px;
$icon-linkedin-white-2x-offset-x: 0px;
$icon-linkedin-white-2x-offset-y: -252px;
$icon-linkedin-white-2x-width: 34px;
$icon-linkedin-white-2x-height: 32px;
$icon-linkedin-white-2x-total-width: 428px;
$icon-linkedin-white-2x-total-height: 322px;
$icon-linkedin-white-2x-image: '../images/sprite/sprite@2x.png';
$icon-linkedin-white-2x: (0px, 252px, 0px, -252px, 34px, 32px, 428px, 322px, '../images/sprite/sprite@2x.png', 'icon-linkedin-white@2x', );
$icon-linkedin-2x-name: 'icon-linkedin@2x';
$icon-linkedin-2x-x: 312px;
$icon-linkedin-2x-y: 128px;
$icon-linkedin-2x-offset-x: -312px;
$icon-linkedin-2x-offset-y: -128px;
$icon-linkedin-2x-width: 112px;
$icon-linkedin-2x-height: 28px;
$icon-linkedin-2x-total-width: 428px;
$icon-linkedin-2x-total-height: 322px;
$icon-linkedin-2x-image: '../images/sprite/sprite@2x.png';
$icon-linkedin-2x: (312px, 128px, -312px, -128px, 112px, 28px, 428px, 322px, '../images/sprite/sprite@2x.png', 'icon-linkedin@2x', );
$icon-logo-white-2x-name: 'icon-logo-white@2x';
$icon-logo-white-2x-x: 0px;
$icon-logo-white-2x-y: 98px;
$icon-logo-white-2x-offset-x: 0px;
$icon-logo-white-2x-offset-y: -98px;
$icon-logo-white-2x-width: 236px;
$icon-logo-white-2x-height: 90px;
$icon-logo-white-2x-total-width: 428px;
$icon-logo-white-2x-total-height: 322px;
$icon-logo-white-2x-image: '../images/sprite/sprite@2x.png';
$icon-logo-white-2x: (0px, 98px, 0px, -98px, 236px, 90px, 428px, 322px, '../images/sprite/sprite@2x.png', 'icon-logo-white@2x', );
$icon-play-2x-name: 'icon-play@2x';
$icon-play-2x-x: 56px;
$icon-play-2x-y: 196px;
$icon-play-2x-offset-x: -56px;
$icon-play-2x-offset-y: -196px;
$icon-play-2x-width: 48px;
$icon-play-2x-height: 48px;
$icon-play-2x-total-width: 428px;
$icon-play-2x-total-height: 322px;
$icon-play-2x-image: '../images/sprite/sprite@2x.png';
$icon-play-2x: (56px, 196px, -56px, -196px, 48px, 48px, 428px, 322px, '../images/sprite/sprite@2x.png', 'icon-play@2x', );
$icon-plus-2x-name: 'icon-plus@2x';
$icon-plus-2x-x: 366px;
$icon-plus-2x-y: 78px;
$icon-plus-2x-offset-x: -366px;
$icon-plus-2x-offset-y: -78px;
$icon-plus-2x-width: 38px;
$icon-plus-2x-height: 38px;
$icon-plus-2x-total-width: 428px;
$icon-plus-2x-total-height: 322px;
$icon-plus-2x-image: '../images/sprite/sprite@2x.png';
$icon-plus-2x: (366px, 78px, -366px, -78px, 38px, 38px, 428px, 322px, '../images/sprite/sprite@2x.png', 'icon-plus@2x', );
$icon-post-hover-2x-name: 'icon-post-hover@2x';
$icon-post-hover-2x-x: 122px;
$icon-post-hover-2x-y: 252px;
$icon-post-hover-2x-offset-x: -122px;
$icon-post-hover-2x-offset-y: -252px;
$icon-post-hover-2x-width: 28px;
$icon-post-hover-2x-height: 32px;
$icon-post-hover-2x-total-width: 428px;
$icon-post-hover-2x-total-height: 322px;
$icon-post-hover-2x-image: '../images/sprite/sprite@2x.png';
$icon-post-hover-2x: (122px, 252px, -122px, -252px, 28px, 32px, 428px, 322px, '../images/sprite/sprite@2x.png', 'icon-post-hover@2x', );
$icon-post-2x-name: 'icon-post@2x';
$icon-post-2x-x: 158px;
$icon-post-2x-y: 252px;
$icon-post-2x-offset-x: -158px;
$icon-post-2x-offset-y: -252px;
$icon-post-2x-width: 28px;
$icon-post-2x-height: 32px;
$icon-post-2x-total-width: 428px;
$icon-post-2x-total-height: 322px;
$icon-post-2x-image: '../images/sprite/sprite@2x.png';
$icon-post-2x: (158px, 252px, -158px, -252px, 28px, 32px, 428px, 322px, '../images/sprite/sprite@2x.png', 'icon-post@2x', );
$icon-slide-divider-2x-name: 'icon-slide-divider@2x';
$icon-slide-divider-2x-x: 244px;
$icon-slide-divider-2x-y: 128px;
$icon-slide-divider-2x-offset-x: -244px;
$icon-slide-divider-2x-offset-y: -128px;
$icon-slide-divider-2x-width: 60px;
$icon-slide-divider-2x-height: 58px;
$icon-slide-divider-2x-total-width: 428px;
$icon-slide-divider-2x-total-height: 322px;
$icon-slide-divider-2x-image: '../images/sprite/sprite@2x.png';
$icon-slide-divider-2x: (244px, 128px, -244px, -128px, 60px, 58px, 428px, 322px, '../images/sprite/sprite@2x.png', 'icon-slide-divider@2x', );
$icon-twitter-hover-2x-name: 'icon-twitter-hover@2x';
$icon-twitter-hover-2x-x: 240px;
$icon-twitter-hover-2x-y: 196px;
$icon-twitter-hover-2x-offset-x: -240px;
$icon-twitter-hover-2x-offset-y: -196px;
$icon-twitter-hover-2x-width: 32px;
$icon-twitter-hover-2x-height: 26px;
$icon-twitter-hover-2x-total-width: 428px;
$icon-twitter-hover-2x-total-height: 322px;
$icon-twitter-hover-2x-image: '../images/sprite/sprite@2x.png';
$icon-twitter-hover-2x: (240px, 196px, -240px, -196px, 32px, 26px, 428px, 322px, '../images/sprite/sprite@2x.png', 'icon-twitter-hover@2x', );
$icon-twitter-2x-name: 'icon-twitter@2x';
$icon-twitter-2x-x: 200px;
$icon-twitter-2x-y: 196px;
$icon-twitter-2x-offset-x: -200px;
$icon-twitter-2x-offset-y: -196px;
$icon-twitter-2x-width: 32px;
$icon-twitter-2x-height: 26px;
$icon-twitter-2x-total-width: 428px;
$icon-twitter-2x-total-height: 322px;
$icon-twitter-2x-image: '../images/sprite/sprite@2x.png';
$icon-twitter-2x: (200px, 196px, -200px, -196px, 32px, 26px, 428px, 322px, '../images/sprite/sprite@2x.png', 'icon-twitter@2x', );
$lang-selected-2x-name: 'lang-selected@2x';
$lang-selected-2x-x: 360px;
$lang-selected-2x-y: 196px;
$lang-selected-2x-offset-x: -360px;
$lang-selected-2x-offset-y: -196px;
$lang-selected-2x-width: 32px;
$lang-selected-2x-height: 24px;
$lang-selected-2x-total-width: 428px;
$lang-selected-2x-total-height: 322px;
$lang-selected-2x-image: '../images/sprite/sprite@2x.png';
$lang-selected-2x: (360px, 196px, -360px, -196px, 32px, 24px, 428px, 322px, '../images/sprite/sprite@2x.png', 'lang-selected@2x', );
$logo-sphones-2x-name: 'logo-sphones@2x';
$logo-sphones-2x-x: 244px;
$logo-sphones-2x-y: 0px;
$logo-sphones-2x-offset-x: -244px;
$logo-sphones-2x-offset-y: 0px;
$logo-sphones-2x-width: 184px;
$logo-sphones-2x-height: 70px;
$logo-sphones-2x-total-width: 428px;
$logo-sphones-2x-total-height: 322px;
$logo-sphones-2x-image: '../images/sprite/sprite@2x.png';
$logo-sphones-2x: (244px, 0px, -244px, 0px, 184px, 70px, 428px, 322px, '../images/sprite/sprite@2x.png', 'logo-sphones@2x', );
$panel-closed-2x-name: 'panel-closed@2x';
$panel-closed-2x-x: 400px;
$panel-closed-2x-y: 164px;
$panel-closed-2x-offset-x: -400px;
$panel-closed-2x-offset-y: -164px;
$panel-closed-2x-width: 26px;
$panel-closed-2x-height: 16px;
$panel-closed-2x-total-width: 428px;
$panel-closed-2x-total-height: 322px;
$panel-closed-2x-image: '../images/sprite/sprite@2x.png';
$panel-closed-2x: (400px, 164px, -400px, -164px, 26px, 16px, 428px, 322px, '../images/sprite/sprite@2x.png', 'panel-closed@2x', );
$panel-opened-2x-name: 'panel-opened@2x';
$panel-opened-2x-x: 400px;
$panel-opened-2x-y: 196px;
$panel-opened-2x-offset-x: -400px;
$panel-opened-2x-offset-y: -196px;
$panel-opened-2x-width: 24px;
$panel-opened-2x-height: 16px;
$panel-opened-2x-total-width: 428px;
$panel-opened-2x-total-height: 322px;
$panel-opened-2x-image: '../images/sprite/sprite@2x.png';
$panel-opened-2x: (400px, 196px, -400px, -196px, 24px, 16px, 428px, 322px, '../images/sprite/sprite@2x.png', 'panel-opened@2x', );
$slide-next-2x-name: 'slide-next@2x';
$slide-next-2x-x: 354px;
$slide-next-2x-y: 252px;
$slide-next-2x-offset-x: -354px;
$slide-next-2x-offset-y: -252px;
$slide-next-2x-width: 30px;
$slide-next-2x-height: 22px;
$slide-next-2x-total-width: 428px;
$slide-next-2x-total-height: 322px;
$slide-next-2x-image: '../images/sprite/sprite@2x.png';
$slide-next-2x: (354px, 252px, -354px, -252px, 30px, 22px, 428px, 322px, '../images/sprite/sprite@2x.png', 'slide-next@2x', );
$slide-prev-2x-name: 'slide-prev@2x';
$slide-prev-2x-x: 392px;
$slide-prev-2x-y: 252px;
$slide-prev-2x-offset-x: -392px;
$slide-prev-2x-offset-y: -252px;
$slide-prev-2x-width: 30px;
$slide-prev-2x-height: 22px;
$slide-prev-2x-total-width: 428px;
$slide-prev-2x-total-height: 322px;
$slide-prev-2x-image: '../images/sprite/sprite@2x.png';
$slide-prev-2x: (392px, 252px, -392px, -252px, 30px, 22px, 428px, 322px, '../images/sprite/sprite@2x.png', 'slide-prev@2x', );
$toggle-menu-2x-name: 'toggle-menu@2x';
$toggle-menu-2x-x: 112px;
$toggle-menu-2x-y: 196px;
$toggle-menu-2x-offset-x: -112px;
$toggle-menu-2x-offset-y: -196px;
$toggle-menu-2x-width: 40px;
$toggle-menu-2x-height: 30px;
$toggle-menu-2x-total-width: 428px;
$toggle-menu-2x-total-height: 322px;
$toggle-menu-2x-image: '../images/sprite/sprite@2x.png';
$toggle-menu-2x: (112px, 196px, -112px, -196px, 40px, 30px, 428px, 322px, '../images/sprite/sprite@2x.png', 'toggle-menu@2x', );
$twittter-red-2x-name: 'twittter-red@2x';
$twittter-red-2x-x: 160px;
$twittter-red-2x-y: 196px;
$twittter-red-2x-offset-x: -160px;
$twittter-red-2x-offset-y: -196px;
$twittter-red-2x-width: 32px;
$twittter-red-2x-height: 26px;
$twittter-red-2x-total-width: 428px;
$twittter-red-2x-total-height: 322px;
$twittter-red-2x-image: '../images/sprite/sprite@2x.png';
$twittter-red-2x: (160px, 196px, -160px, -196px, 32px, 26px, 428px, 322px, '../images/sprite/sprite@2x.png', 'twittter-red@2x', );
$spritesheet-width: 214px;
$spritesheet-height: 161px;
$spritesheet-image: '../images/sprite/sprite.png';
$spritesheet-sprites: ($-logo, $arrow-down, $arrow-left, $arrow-right-btn, $arrow-right-white, $arrow-right, $arrow-up-red, $arrow-up, $arrows-white-next, $checkbox-mark, $checkbox, $flag-belgique, $flag-france, $found-next, $found-prev, $icon-alert-info, $icon-avatara, $icon-bfm, $icon-download, $icon-graph-more, $icon-linkedin-white, $icon-linkedin, $icon-logo-white, $icon-play, $icon-plus, $icon-post-hover, $icon-post, $icon-slide-divider, $icon-twitter-hover, $icon-twitter, $lang-selected, $logo-sphones, $panel-closed, $panel-opened, $slide-next, $slide-prev, $toggle-menu, $twittter-red, );
$spritesheet: (214px, 161px, '../images/sprite/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 428px;
$retina-spritesheet-height: 322px;
$retina-spritesheet-image: '../images/sprite/sprite@2x.png';
$retina-spritesheet-sprites: ($-logo-2x, $arrow-down-2x, $arrow-left-2x, $arrow-right-btn-2x, $arrow-right-white-2x, $arrow-right-2x, $arrow-up-red-2x, $arrow-up-2x, $arrows-white-next-2x, $checkbox-mark-2x, $checkbox-2x, $flag-belgique-2x, $flag-france-2x, $found-next-2x, $found-prev-2x, $icon-alert-info-2x, $icon-avatara-2x, $icon-bfm-2x, $icon-download-2x, $icon-graph-more-2x, $icon-linkedin-white-2x, $icon-linkedin-2x, $icon-logo-white-2x, $icon-play-2x, $icon-plus-2x, $icon-post-hover-2x, $icon-post-2x, $icon-slide-divider-2x, $icon-twitter-hover-2x, $icon-twitter-2x, $lang-selected-2x, $logo-sphones-2x, $panel-closed-2x, $panel-opened-2x, $slide-next-2x, $slide-prev-2x, $toggle-menu-2x, $twittter-red-2x, );
$retina-spritesheet: (428px, 322px, '../images/sprite/sprite@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$-logo-group-name: 'Logo';
$-logo-group: ('Logo', $-logo, $-logo-2x, );
$arrow-down-group-name: 'arrow-down';
$arrow-down-group: ('arrow-down', $arrow-down, $arrow-down-2x, );
$arrow-left-group-name: 'arrow-left';
$arrow-left-group: ('arrow-left', $arrow-left, $arrow-left-2x, );
$arrow-right-btn-group-name: 'arrow-right-btn';
$arrow-right-btn-group: ('arrow-right-btn', $arrow-right-btn, $arrow-right-btn-2x, );
$arrow-right-white-group-name: 'arrow-right-white';
$arrow-right-white-group: ('arrow-right-white', $arrow-right-white, $arrow-right-white-2x, );
$arrow-right-group-name: 'arrow-right';
$arrow-right-group: ('arrow-right', $arrow-right, $arrow-right-2x, );
$arrow-up-red-group-name: 'arrow-up-red';
$arrow-up-red-group: ('arrow-up-red', $arrow-up-red, $arrow-up-red-2x, );
$arrow-up-group-name: 'arrow-up';
$arrow-up-group: ('arrow-up', $arrow-up, $arrow-up-2x, );
$arrows-white-next-group-name: 'arrows-white-next';
$arrows-white-next-group: ('arrows-white-next', $arrows-white-next, $arrows-white-next-2x, );
$checkbox-mark-group-name: 'checkbox-mark';
$checkbox-mark-group: ('checkbox-mark', $checkbox-mark, $checkbox-mark-2x, );
$checkbox-group-name: 'checkbox';
$checkbox-group: ('checkbox', $checkbox, $checkbox-2x, );
$flag-belgique-group-name: 'flag-belgique';
$flag-belgique-group: ('flag-belgique', $flag-belgique, $flag-belgique-2x, );
$flag-france-group-name: 'flag-france';
$flag-france-group: ('flag-france', $flag-france, $flag-france-2x, );
$found-next-group-name: 'found-next';
$found-next-group: ('found-next', $found-next, $found-next-2x, );
$found-prev-group-name: 'found-prev';
$found-prev-group: ('found-prev', $found-prev, $found-prev-2x, );
$icon-alert-info-group-name: 'icon-alert-info';
$icon-alert-info-group: ('icon-alert-info', $icon-alert-info, $icon-alert-info-2x, );
$icon-avatara-group-name: 'icon-avatara';
$icon-avatara-group: ('icon-avatara', $icon-avatara, $icon-avatara-2x, );
$icon-bfm-group-name: 'icon-bfm';
$icon-bfm-group: ('icon-bfm', $icon-bfm, $icon-bfm-2x, );
$icon-download-group-name: 'icon-download';
$icon-download-group: ('icon-download', $icon-download, $icon-download-2x, );
$icon-graph-more-group-name: 'icon-graph-more';
$icon-graph-more-group: ('icon-graph-more', $icon-graph-more, $icon-graph-more-2x, );
$icon-linkedin-white-group-name: 'icon-linkedin-white';
$icon-linkedin-white-group: ('icon-linkedin-white', $icon-linkedin-white, $icon-linkedin-white-2x, );
$icon-linkedin-group-name: 'icon-linkedin';
$icon-linkedin-group: ('icon-linkedin', $icon-linkedin, $icon-linkedin-2x, );
$icon-logo-white-group-name: 'icon-logo-white';
$icon-logo-white-group: ('icon-logo-white', $icon-logo-white, $icon-logo-white-2x, );
$icon-play-group-name: 'icon-play';
$icon-play-group: ('icon-play', $icon-play, $icon-play-2x, );
$icon-plus-group-name: 'icon-plus';
$icon-plus-group: ('icon-plus', $icon-plus, $icon-plus-2x, );
$icon-post-hover-group-name: 'icon-post-hover';
$icon-post-hover-group: ('icon-post-hover', $icon-post-hover, $icon-post-hover-2x, );
$icon-post-group-name: 'icon-post';
$icon-post-group: ('icon-post', $icon-post, $icon-post-2x, );
$icon-slide-divider-group-name: 'icon-slide-divider';
$icon-slide-divider-group: ('icon-slide-divider', $icon-slide-divider, $icon-slide-divider-2x, );
$icon-twitter-hover-group-name: 'icon-twitter-hover';
$icon-twitter-hover-group: ('icon-twitter-hover', $icon-twitter-hover, $icon-twitter-hover-2x, );
$icon-twitter-group-name: 'icon-twitter';
$icon-twitter-group: ('icon-twitter', $icon-twitter, $icon-twitter-2x, );
$lang-selected-group-name: 'lang-selected';
$lang-selected-group: ('lang-selected', $lang-selected, $lang-selected-2x, );
$logo-sphones-group-name: 'logo-sphones';
$logo-sphones-group: ('logo-sphones', $logo-sphones, $logo-sphones-2x, );
$panel-closed-group-name: 'panel-closed';
$panel-closed-group: ('panel-closed', $panel-closed, $panel-closed-2x, );
$panel-opened-group-name: 'panel-opened';
$panel-opened-group: ('panel-opened', $panel-opened, $panel-opened-2x, );
$slide-next-group-name: 'slide-next';
$slide-next-group: ('slide-next', $slide-next, $slide-next-2x, );
$slide-prev-group-name: 'slide-prev';
$slide-prev-group: ('slide-prev', $slide-prev, $slide-prev-2x, );
$toggle-menu-group-name: 'toggle-menu';
$toggle-menu-group: ('toggle-menu', $toggle-menu, $toggle-menu-2x, );
$twittter-red-group-name: 'twittter-red';
$twittter-red-group: ('twittter-red', $twittter-red, $twittter-red-2x, );
$retina-groups: ($-logo-group, $arrow-down-group, $arrow-left-group, $arrow-right-btn-group, $arrow-right-white-group, $arrow-right-group, $arrow-up-red-group, $arrow-up-group, $arrows-white-next-group, $checkbox-mark-group, $checkbox-group, $flag-belgique-group, $flag-france-group, $found-next-group, $found-prev-group, $icon-alert-info-group, $icon-avatara-group, $icon-bfm-group, $icon-download-group, $icon-graph-more-group, $icon-linkedin-white-group, $icon-linkedin-group, $icon-logo-white-group, $icon-play-group, $icon-plus-group, $icon-post-hover-group, $icon-post-group, $icon-slide-divider-group, $icon-twitter-hover-group, $icon-twitter-group, $lang-selected-group, $logo-sphones-group, $panel-closed-group, $panel-opened-group, $slide-next-group, $slide-prev-group, $toggle-menu-group, $twittter-red-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
