// text colors
$c-placeholder: #666;
$c-text: #878787;
$c-blue: #5190bb;
$c-dark-blue: #2f4050;
$c-link: $c-blue;
$c-gray:#d4d6db;
$c-light-gray:#f6f6f6;
$c-dark-gray:#878787;
$c-green:#00b274;
// footer
$c-footer: #e6e7e8;
$c-footer-hover: #fff;

// bg colors
$bg-body: #fff;
$bg-orange: #ff7d00;

// font size
$f-base-size: 16px;
$f-base-font: 'Open Sans',Arial, Helvetica, sans-serif;
$f-alt-family: 'Montserrat', sans-serif;
$f-q-family: 'Questrial', sans-serif;

// grid
$screen-s-min: 479px;
$screen-xs-min: 480px;
$screen-sm-min: 767px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

// mobile help
$base-mobile-width: 768px;