<h3 class="ttl-section text-center">Begin Your Free Trial Now</h3>
<div class="form-wrap">
  <form action="#">
    <div class="row row-5px">
      <div class="col-sm-8">
        <div class="row row-5px">
          <div class="col-sm-6 col-sxs-12 push-bottom-xs">
            <input type="text" value="" placeholder="Full Name">
          </div>
          <div class="col-sm-6 col-sxs-12 push-bottom-xs">
            <input type="email" value="" placeholder="Email Address">
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-sxs-12">
        <input type="submit" class="btn btn-block btn-white " value="GET STARTED">
      </div>              
    </div>            
  </form>
</div>